<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-10">
			<br />
			<h4 class="blue-text title  animated fadeIn fast">
				Informe de Convenios
			</h4>
			<br />
			<div class="card">
				<div class="card-body">
					<form>
						<div class="form-row">
							<div class="form-group col-sm-2 min-width-input-field">
								<label for="inputStartDate">Fecha Inicial</label>
								<div class="input-group">
									<input type="text" class="form-control" id="inputStartDate"
										[value]="searchParameters.startDate | date: 'y-MM-dd'" ngbDatepicker
										#d="ngbDatepicker" (dateSelect)="onDateSelect($event, 'initial')" />
									<div class="input-group-append">
										<button (click)="d.toggle()" class="btn btn-primary" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
							<!-- <div class="form-group col-sm-2">
								<label for="inputStartHour">Hora Inicial</label>
								<ngb-timepicker
									name="initialTime"
									[(ngModel)]="initialTime"
									meridian="true"
									(ngModelChange)="onChangeTime('initial')"
								></ngb-timepicker>
							</div> -->
							<div class="form-group col-sm-2 min-width-input-field">
								<label for="inputEndDate">Fecha Final</label>
								<div class="input-group">
									<input type="text" class="form-control" id="inputEndDate"
										[value]="searchParameters.endDate | date: 'y-MM-dd'" ngbDatepicker
										#d2="ngbDatepicker" (dateSelect)="onDateSelect($event, 'final')" />
									<div class="input-group-append">
										<button (click)="d2.toggle()" class="btn btn-primary" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
							<!-- <div class="form-group col-sm-2">
								<label for="inputEndHour">Hora Final</label>
								<ngb-timepicker
									name="finalTime"
									[(ngModel)]="finalTime"
									meridian="true"
									(ngModelChange)="onChangeTime('final')"
								></ngb-timepicker>
							</div> -->
							<div class="form-group col-sm-2" style="min-width: 200px;">
								<label for="inputAgreement">Convenio:</label>
								<select id="inputAgreement" name="inputAgreement" class="custom-select"
									[(ngModel)]="searchParameters.agreement">
									<option selected>Seleccione su opción</option>
									<option *ngFor="let agreementItem of agreementDropdown" [value]="agreementItem.id">
										{{ agreementItem.name }}
									</option>
								</select>
							</div>
							<button class="btn btn-primary in-form-row-btn" (click)="findAgreementsReport()">
								BUSCAR
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="d-flex justify-content-center" *ngIf="showProcessingIcon" style="margin-top: 4rem;">
				<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<h5 id="message" class="center gray-text" *ngIf="showInformationNotFound">
				¡No se encontró información!.
			</h5>
			<br />
			<div class="row">
				<div class="col-sm-7">
					<div class="form-group min-width-input-field" *ngIf="agreements.agreementPayments.length > 0">
						<input id="inputFilter" type="text" class="form-control" placeholder="Filtrar por:"
							[(ngModel)]="filterText" (keyup)="onFilter($event)" />
						<small class="form-text text-muted"
							*ngIf="filterText.length < 3 && filterText.length !== 0">Digite más de 3 caracteres para
							buscar.</small>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="btn-group float-md-right" *ngIf="agreements.agreementPayments.length > 0">
						<button type="button" class="btn btn-primary btn-circle btn-circle-lg" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<i class="large material-icons" style="top: 2px;">file_download</i>
						</button>
						<div class="dropdown-menu dropdown-menu">
							<button class="dropdown-item" type="button" (click)="exportAgreementsToPdf()">
								PDF
							</button>
							<button class="dropdown-item" type="button" (click)="exportAgreementsToXls()">
								EXCEL
							</button>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div *ngIf="agreements.agreementPayments.length > 0" class="table-responsive">
				<table class="table text-center">
					<thead style="cursor: pointer;">
						<tr>
							<th scope="col" (click)="onSort('created')">
								Fecha<i class="material-icons" *ngIf="
										lastSort.column === 'created' && lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'created' && lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('vehiclePlate')">
								Matrícula<i class="material-icons" *ngIf="
										lastSort.column === 'vehiclePlate' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'vehiclePlate' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('vehicleType')">
								Tipo de Vehículo<i class="material-icons" *ngIf="
										lastSort.column === 'vehicleType' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'vehicleType' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('serviceName')">
								Tarifa<i class="material-icons" *ngIf="
										lastSort.column === 'serviceName' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'serviceName' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('parkingTime')">
								Tiempo de Parqueo<i class="material-icons" *ngIf="
										lastSort.column === 'parkingTime' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'parkingTime' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('serviceCourtesyTime')">
								Tiempo de Gracia<i class="material-icons" *ngIf="
										lastSort.column === 'serviceCourtesyTime' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'serviceCourtesyTime' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let agreement of agreements.agreementPayments">
							<td [textContent]="agreement.created | date: 'y-MM-dd h:mm:ss'"></td>
							<td>{{ agreement.vehiclePlate }}</td>
							<td>
								<i class="medium material-icons gray-text"
									*ngIf="agreement.vehicleType == 'CAR'">directions_car</i>
								<i class="medium material-icons gray-text"
									*ngIf="agreement.vehicleType == 'MOTORCYCLE'">motorcycle</i>
								<i class="medium material-icons gray-text"
									*ngIf="agreement.vehicleType == 'BICYCLE'">directions_bike</i>
								<i class="medium material-icons gray-text"
									*ngIf="agreement.vehicleType == 'PUBLIC'">local_taxi</i>
								<i class="medium material-icons gray-text"
									*ngIf="agreement.vehicleType == 'TRUCK'">local_shipping</i>
							</td>
							<td [textContent]="agreement.serviceName"></td>
							<td>
								{{ agreement.parkingTime }}
							</td>
							<td>{{ agreement.serviceCourtesyTime }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="d-flex justify-content-center" *ngIf="agreements.agreementPayments.length > 0">
				<ngb-pagination [collectionSize]="agreements.totalItems" [(page)]="currentPage" [maxSize]="5"
					[boundaryLinks]="true" (pageChange)="findAgreementsReport()">
				</ngb-pagination>
			</div>
		</div>
	</div>
</div>
