<div class="row" *ngIf="userInformation">
	<div class="col-sm-4">
		<img src="../../../../assets/img/avatar.png" class="img-fluid rounded-circle" />
	</div>
	<div class="col-sm-8 text-truncate" style="padding-top: 12px;">
		<h6>{{ userInformation.name }}</h6>
		<span class="text-white">{{ userInformation.email }}</span>
	</div>
	<div class="col-sm-12" style="padding-top: 5px;">
		<ul class="navbar-nav text-center">
			<li class="nav-item dropdown">
				<a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					{{
						selectedParking === ''
							? userInformation.parkingList[0].name
							: selectedParking
					}}
					<i class="material-icons pull-right">arrow_drop_down</i>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" style="cursor: pointer;"
						*ngFor="let parking of userInformation.parkingList" (click)="onSelectParking(parking)">
						{{ parking.name }}
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
