<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <br />
      <h4 class="blue-text title  animated fadeIn fast">
        Resoluciones
      </h4>
      <br />
      <div class="input-group col-sm-7">
        <input type="text" class="form-control" placeholder="Filtrar por:" (keyup)="onFilter($event.target.value)" />
      </div>

      <br />
      <h5 id="message" class="center gray-text" *ngIf="showInformationNotFound">
        ¡No se encontró información!.
      </h5>

      <div class="d-flex justify-content-center" *ngIf="showProcessingIcon">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div *ngIf="taxResolutionsToDisplay.length" class="table-responsive">
        <table class="table table-condensed text-center">
          <thead>
            <tr>
              <th scope="col" sortable="date" (sort)="onSort($event)">
                Fecha<i class="material-icons" *ngIf="
										lastSort.column === 'date' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'date' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="number" (sort)="onSort($event)">
                Número<i class="material-icons" *ngIf="
										lastSort.column === 'number' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'number' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="rangeFrom" (sort)="onSort($event)">
                Desde<i class="material-icons" *ngIf="
										lastSort.column === 'rangeFrom' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'rangeFrom' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="rangeTo" (sort)="onSort($event)">
                Hasta<i class="material-icons" *ngIf="
										lastSort.column === 'rangeTo' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'rangeTo' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="rangePrefix" (sort)="onSort($event)">
                Prefijo<i class="material-icons" *ngIf="
										lastSort.column === 'rangePrefix' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'rangePrefix' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="currentInvoiceNumber" (sort)="onSort($event)">
                No. de Factura Actual<i class="material-icons" *ngIf="
										lastSort.column === 'currentInvoiceNumber' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'currentInvoiceNumber' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="state" (sort)="onSort($event)">
                Estado<i class="material-icons" *ngIf="
										lastSort.column === 'state' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'state' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="
								let taxResolution of taxResolutionsToDisplay
									| slice
										: (page - 1) * pageSize
										: (page - 1) * pageSize + pageSize;
								index as i
							">
              <td>{{ taxResolution.date }}</td>
              <td>{{ taxResolution.number }}</td>
              <td>{{ taxResolution.rangeFrom }}</td>
              <td>{{ taxResolution.rangeTo }}</td>
              <td>{{ taxResolution.rangePrefix }}</td>
              <td>{{ taxResolution.currentInvoiceNumber }}</td>
              <td>
                <div class="status-pill-green" *ngIf="taxResolution.state == 'ENABLED'">
                </div>
                <div class="status-pill-red" *ngIf="taxResolution.state == 'DISABLED'"></div>
              </td>
              <td>
                <i class="material-icons gray-text" data-target="#newtaxResolution" data-toggle="modal"
                  style="cursor: pointer;" (click)="onSelect(taxResolution)">
                  edit
                </i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center" *ngIf="taxResolutionsToDisplay.length">
        <ngb-pagination [collectionSize]="taxResolutionsToDisplay.length" [(page)]="page" [maxSize]="5"
          [boundaryLinks]="true">
        </ngb-pagination>
      </div>

      <div class="" style="position:fixed; bottom: 45px; right: 24px;">
        <button class="btn btn-primary btn-circle btn-circle-lg m-1" data-target="#newtaxResolution"
          data-toggle="modal">
          <i class="fa fa-plus"></i>
        </button>
      </div>

      <!-- Modal new taxResolution -->
      <div class="modal" id="newtaxResolution" tabindex="-1" role="dialog" aria-labelledby="newtaxResolutionTitle"
        aria-hidden="true" data-backdrop='static'>
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="newtaxResolutionTitle">
                {{ onEdit ? 'Editar Resolución' : 'Nueva Resolución' }}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputStartDate">Fecha Inicial</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="inputStartDate" [value]="taxResolution.date"
                          ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelect($event)" readonly="true" />
                        <div class="input-group-append">
                          <button (click)="d.toggle()" type="button">
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="number">Número:</label>
                      <input type="text" class="form-control" id="number" name="number"
                        [(ngModel)]="taxResolution.number" />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="from">Desde:</label>
                      <input type="number" class="form-control" id="from" name="from"
                        [(ngModel)]="taxResolution.rangeFrom" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="to">Hasta:</label>
                      <input type="number" class="form-control" id="to" name="to" [(ngModel)]="taxResolution.rangeTo" />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="prefix">Prefijo:</label>
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': taxResolution.rangePrefix.length === 0}" id="prefix" name="prefix"
                        [(ngModel)]="taxResolution.rangePrefix" />
                      <div class="invalid-feedback">
                        El prefijo no puede estar vacío.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6" *ngIf="onEdit">
                    <div class="form-group">
                      <label for="state">Estado:</label>
                      <select class="custom-select" id="state" name="state" [(ngModel)]="taxResolution.state">
                        <option *ngFor="let state of states" [value]="state.id">
                          {{ state.value }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onCancel()">
                Cancelar
              </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSave()"
                *ngIf="!onEdit && taxResolution.rangePrefix.length">
                Guardar
              </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onEditTaxResolution()"
                *ngIf="onEdit && taxResolution.rangePrefix.length">
                Actualizar
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
