<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-10">
			<!-- Información General -->
			<div class="card">
				<div class="card-body px-5">
					<div class="row">
						<h4 class="blue-text">
							Información General
						</h4>
					</div>
					<br />
					<div class="row">
						<div class="col-sm-3 d-flex flex-column">
							<div class="d-flex justify-content-center">
								<i class="material-icons teal-light-text" style="font-size: 4rem;">
									directions_car
								</i>
							</div>
							<div class="d-flex justify-content-center">
								<h4 class="teal-light-text">
									Bahías en Uso
								</h4>
							</div>
							<div class="d-flex justify-content-center">
								<p style="margin-bottom: 0;">
									Se registran
									<span style="font-weight: bold; font-size: 1.2em;"
										class="teal-light-text">{{ vehiclesParkedByType.total }}</span>
								</p>
							</div>
							<div class="d-flex justify-content-center">
								<a *ngFor="let parked of vehiclesParkedByType.result">
									<span class="teal-light-text"
										style="font-weight: bold; font-size: 1.2em; position: relative; display: inline-block; margin-left: 5px;">{{ parked.total }}</span>
									<i class="material-icons"
										style="color: #808080; top: 4px; height: 18px; position: relative; display: inline-block; margin-left: 5px;"
										*ngIf="parked.vehicleType == 'CAR'">directions_car</i>
									<i class="material-icons"
										style="color: #808080; top: 4px; height: 18px; position: relative; display: inline-block; margin-left: 5px;"
										*ngIf="parked.vehicleType == 'MOTORCYCLE'">motorcycle</i>
									<i class="material-icons"
										style="color: #808080; top: 4px; height: 18px; position: relative; display: inline-block; margin-left: 5px;"
										*ngIf="parked.vehicleType == 'BICYCLE'">directions_bike</i>
									<i class="material-icons"
										style="color: #808080; top: 4px; height: 18px; position: relative; display: inline-block; margin-left: 5px;"
										*ngIf="parked.vehicleType == 'TRUCK'">local_shipping</i>
									<i class="material-icons"
										style="color: #808080; top: 4px; height: 18px; position: relative; display: inline-block; margin-left: 5px;"
										*ngIf="parked.vehicleType == 'PUBLIC'">local_taxi</i>
								</a>
							</div>
						</div>
						<div class="col-sm-3 d-flex flex-column">
							<div class="d-flex justify-content-center">
								<i class="material-icons" style="color:#E57373; font-size: 4rem;">
									compare_arrows
								</i>
							</div>
							<div class="d-flex justify-content-center">
								<h4 style="color:#E57373">
									Entradas
								</h4>
							</div>
							<div class="d-flex justify-content-center">
								<p class="text-center">
									Se registran
									<span
										style="color: #E57373; font-weight: bold; font-size: 1.2em">{{ vehiclesQuantityToday[0].total }}</span>.
									<br />
									Ingresos por movid:
									<span
										style="color: #E57373; font-weight: bold; font-size: 1.2em">{{ vehiclesQuantityToday[0].movid ? vehiclesQuantityToday[0].movid : 0 }}</span>
									.
									<br />
									La semana pasada se registraron
									{{ vehiclesQuantityLastWeek[0].total }} .
								</p>
							</div>
						</div>
						<div class="col-sm-3 d-flex flex-column">
							<div class="d-flex justify-content-center">
								<i class="material-icons" style="color:#f5ca47; font-size: 4rem;">
									attach_money
								</i>
							</div>
							<div class="d-flex justify-content-center">
								<h4 style="color:#f5ca47">
									Total Recaudado
								</h4>
							</div>
							<div class="d-flex justify-content-center">
								<p class="text-center">
									Se registran
									<span
										style="color: #f5ca47; font-weight: bold; font-size: 1.2em">{{ totalCollectedToday.total | currency: 'COP':'$' }}</span>.
									<br />
									La semana pasada se registraron
									{{ totalCollectedLastWeek.total | currency: 'COP':'$' }} .
								</p>
							</div>
						</div>
						<div class="col-sm-3 d-flex flex-column">
							<div class="d-flex justify-content-center">
								<i class="material-icons" style="color:#9575cd; font-size: 4rem;">
									group
								</i>
							</div>
							<div class="d-flex justify-content-center">
								<h4 style="color:#9575cd">
									Suscripciones
								</h4>
							</div>
							<div class="d-flex justify-content-center">
								<p class="text-center">
									Dinero recaudado:
									<span style="color: #9575cd ;font-weight: bold; font-size: 1.2em">
										{{
											subscriptionStatistic.total | currency: 'COP':'$'
										}}</span>.
									<br />
									Cantidad de suscripciones:
									{{ subscriptionStatistic.count }}.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer blue"></div>
			</div>
			<!-- Ingresos por tipo de vehículo -->
			<div class="card mt-4" *ngIf="vehicleTypesQuantities.length > 0">
				<div class="card-body px-5">
					<h4 class="blue-text">
						Ingresos por Tipo de Vehículo
					</h4>
					<br />
					<div class="row pt-1">
						<div class="col-sm-6">
							<div class="card mb-3" style="max-width: 540px;"
								*ngFor="let vehicleType of vehicleTypesQuantities">
								<div class="row no-gutters">
									<div class="col-2">
										<img [src]="setVehicleImage(vehicleType.vehicleType)" class="card-img img-fluid"
											style="height: 65px; width: 65px;">
									</div>
									<div class="col-10">
										<div class="card-body">
											<p class="card-text">
												<span style="font-size: 1rem; color: #5a5a5a;">Cantidad de tipo
													<a style="color: #5a5a5a;"
														[textContent]="setVehicleType(vehicleType.vehicleType)"></a>:
													<a
														style="font-size: 1rem; color: #5a5a5a; font-weight: bolder">{{ vehicleType.count }}</a>
												</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
								[options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
							</canvas>
						</div>
					</div>
				</div>
				<div class="card-footer blue"></div>
			</div>
			<!-- Recaudo por Tipo de Pago -->
			<div class="card mt-4" *ngIf="paymentTypesQuantities.length > 0">
				<div class="card-body px-5">
					<h4 class="blue-text">
						Recaudo por Tipo de Pago
					</h4>
					<br />
					<div class="row pt-1">
						<div class="col-sm-6">
							<div class="card mb-3" style="max-width: 540px;"
								*ngFor="let paymentType of paymentTypesQuantities">
								<div class="row no-gutters">
									<div class="col-2">
										<img [src]="setPaymentImage(paymentType.paymentType)" class="card-img img-fluid"
											style="height: 65px; width: 65px;">
									</div>
									<div class="col-10">
										<div class="card-body">
											<p class="card-text">
												<span style="font-size: 1rem; color: #5a5a5a;">Recaudo de tipo
													<a style="color: #5a5a5a;">{{ paymentType.paymentName }}</a>:
													<a
														style="font-size: 1rem; color: #5a5a5a; font-weight: bolder">{{ paymentType.total | currency: 'COP' : '$' }}</a></span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<canvas baseChart [data]="pieChartPaymentsData" [labels]="pieChartPaymentsLabels"
								[chartType]="pieChartPaymentsType" [options]="pieChartPaymentsOptions"
								[colors]="pieChartPaymentsColors" [legend]="pieChartPaymentsLegend">
							</canvas>
						</div>
					</div>
				</div>
				<div class="card-footer blue"></div>
			</div>
			<!-- Información por Rango de Fechas -->
			<div class="card mt-4">
				<div class="card-body px-5">
					<h4 class="blue-text">
						Información por Rango de Fechas
					</h4>
					<br />
					<div class="card">
						<div class="card-body">
							<form>
								<div class="form-row">
									<div class="form-group col-sm-5 min-width-input-field">
										<label for="inputStartDate">Fecha Inicial</label>
										<div class="input-group">
											<input type="text" class="form-control" id="inputStartDate"
												[value]="searchParameters.startDate | date: 'y-MM-dd'" ngbDatepicker
												#d="ngbDatepicker"
												(dateSelect)="onDateSelect($event, 'initial', searchParameters)" />
											<div class="input-group-append">
												<button (click)="d.toggle()" class="btn btn-primary" type="button">
													<i class="fa fa-calendar"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="form-group col-sm-5 min-width-input-field">
										<label for="inputEndDate">Fecha Final</label>
										<div class="input-group">
											<input type="text" class="form-control" id="inputEndDate"
												[value]="searchParameters.endDate | date: 'y-MM-dd'" ngbDatepicker
												#d2="ngbDatepicker"
												(dateSelect)="onDateSelect($event, 'final', searchParameters)" />
											<div class="input-group-append">
												<button (click)="d2.toggle()" class="btn btn-primary" type="button">
													<i class="fa fa-calendar"></i>
												</button>
											</div>
										</div>
									</div>
									<button class="btn btn-primary in-form-row-btn" (click)="getCharts()">
										BUSCAR
									</button>
								</div>
							</form>
						</div>
					</div>
					<br />
					<h4 class="blue-text">
						Entradas
					</h4>
					<br />
					<div class="flex">
						<div class="flex-item">
							<div style="display: block;">
								<canvas baseChart width="560" height="200" style="width: 560px; height: 200px;"
									[datasets]="lineChartDataVehicles" [labels]="lineChartLabels"
									[options]="lineChartOptionsVehicles" [colors]="lineChartColors" [legend]="false"
									[chartType]="lineChartType"></canvas>
							</div>
						</div>
					</div>
					<br />
					<h4 class="blue-text">
						Recaudo
					</h4>
					<br />
					<div class="flex">
						<div class="flex-item">
							<div style="display: block;">
								<canvas baseChart width="560" height="200" style="width: 560px; height: 200px;"
									[datasets]="lineChartDataPayments" [labels]="lineChartLabels"
									[options]="lineChartOptionsPayments" [colors]="lineChartColors" [legend]="false"
									[chartType]="lineChartType"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer blue"></div>
			</div>
			<!-- Información Comparativa por Períodos -->
			<div class="card mt-4">
				<div class="card-body px-5">
					<h4 class="blue-text">
						Información Comparativa por Períodos
					</h4>
					<br />
					<div class="card">
						<div class="card-body">
							<form>
								<div class="form-row">
									<div class="form-group col-sm-4 min-width-input-field">
										<label for="inputStartDate">Fecha Inicial (Período 1)</label>
										<div class="input-group">
											<input type="text" class="form-control" id="inputStartDate"
												[value]="searchParametersByPeriod.startDate | date: 'y-MM-dd'"
												ngbDatepicker #d3="ngbDatepicker"
												(dateSelect)="onDateSelect($event, 'initial', searchParametersByPeriod)" />
											<div class="input-group-append">
												<button (click)="d3.toggle()" class="btn btn-primary" type="button">
													<i class="fa fa-calendar"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="form-group col-sm-4 min-width-input-field">
										<label for="inputEndDate">Fecha Inicial (Período 2)</label>
										<div class="input-group">
											<input type="text" class="form-control" id="inputEndDate"
												[value]="searchParametersByPeriod.endDate | date: 'y-MM-dd'"
												ngbDatepicker #d4="ngbDatepicker"
												(dateSelect)="onDateSelect($event, 'final', searchParametersByPeriod)" />
											<div class="input-group-append">
												<button (click)="d4.toggle()" class="btn btn-primary" type="button">
													<i class="fa fa-calendar"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="form-group col-sm-3">
										<label for="inputDays">Cantidad de días</label>
										<input type="number" class="form-control" id="inputDays" name="inputDays"
											[(ngModel)]="searchParametersByPeriod.days" />
									</div>
									<button class="btn btn-primary in-form-row-btn" (click)="getCompareCharts()">
										BUSCAR
									</button>
								</div>
							</form>
						</div>
					</div>
					<br />
					<h4 class="blue-text">
						Entradas
					</h4>
					<br />
					<div class="flex">
						<div class="flex-item">
							<div style="display: block;">
								<canvas baseChart width="560" height="200" style="width: 560px; height: 200px;"
									[datasets]="lineChartDataVehiclesCompare" [labels]="lineChartLabelsCompare"
									[options]="lineChartOptionsVehiclesCompare" [colors]="lineChartColorsCompare"
									[chartType]="lineChartType"></canvas>
							</div>
						</div>
					</div>
					<br />
					<h4 class="blue-text">
						Recaudo
					</h4>
					<br />
					<div class="flex">
						<div class="flex-item">
							<div style="display: block;">
								<canvas baseChart width="560" height="200" style="width: 560px; height: 200px;"
									[datasets]="lineChartDataPaymentsCompare" [labels]="lineChartLabelsCompare"
									[options]="lineChartOptionsPaymentsCompare" [colors]="lineChartColorsCompare"
									[chartType]="lineChartType"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer blue"></div>
			</div>
		</div>
	</div>
</div>
