<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.ideamosmas.com/">
                        Ideamos Mas
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.ideamosmas.com/" target="_blank">Ideamosmas</a> for a better web.
        </div>
    </div>
</footer>
