<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand parking-brand mx-auto" href="#">
			Parking|Online
		</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/faqs']" role="button">
					<i class="material-icons">
						help
					</i>
				</a>
			</li>
			<li class="nav-item dropdown dropleft">
				<a
					class="nav-link"
					href="#"
					id="navbarDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					<i class="material-icons">
						person arrow_drop_down
					</i>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a
						class="dropdown-item"
						style="cursor: pointer;"
						[routerLink]="['/change-password']"
					>
						Cambiar Contraseña
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" style="cursor: pointer;" (click)="logOut()">
						Cerrar Sesión
					</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
