<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10" id="generalInformation">
      <!-- Información General -->
      <div class="card">
        <div class="card-body px-5">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="icons" role="tabpanel" aria-labelledby="icons-tab">
              <div class="row">
                <h4 class="blue-text">
                  Información General
                </h4>
              </div>
              <br />
              <diV class="row">
                <div class="col-sm-3 d-flex flex-column" *ngFor="let operation of operationsReport.operations">
                  <div class="d-flex justify-content-center">
                    <i class="material-icons teal-light-text" style="font-size: 3rem;">
                      {{ setIcon(operation.vehicleType) }}
                    </i>
                  </div>
                  <div class="d-flex justify-content-center">
                    <h4 class="teal-light-text">
                      {{ operation.vehiclePlate }}
                    </h4>
                  </div>
                  <div class="d-flex justify-content-center">
                    <p class="text-center">
                      Ingresó el
                      <span style="font-weight: bold">{{ operation.entrance }}</span>.
                      <br />
                      Salío el
                      <span style="font-weight: bold">{{ operation.exit }}</span>
                      .
                    </p>
                  </div>
                </div>
                <button #toTable class="btn btn-primary btn-sm btn-block" data-toggle="tab" data-target="#table"
                  *ngIf="operationsReport.operations.length" (click)="removeActiveClass(toTable)">
                  <i class="material-icons">
                    arrow_drop_down
                  </i>
                </button>
              </diV>
            </div>
            <!-- Tabla -->
            <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <input id="inputFilter" type="text" class="form-control" placeholder="Filtrar por:"
                      [(ngModel)]="generalInformation.filter"
                      (keyup)="onFilter($event, generalInformation, 'generalInformation')" />
                    <small class="form-text text-muted"
                      *ngIf="generalInformation.filter.length < 3 && generalInformation.filter.length !==0">Digite
                      más de 3 caracteres para
                      buscar.</small>
                  </div>
                </div>
                <div class="col-4">
                  <i #toIcons class="material-icons pull-right" style="cursor: pointer; position: relative; top: 5px;"
                    data-toggle="tab" data-target="#icons" (click)="removeActiveClass(toIcons)">clear</i>
                </div>
              </div>
              <div *ngIf="operationsReport.operations.length > 0" class="table-responsive">
                <table class="table text-center">
                  <thead style="cursor: pointer;">
                    <tr>
                      <th scope="col" (click)="onSort('userName', generalInformation, 'generalInformation')">
                        Usuario<i class="material-icons" *ngIf="
                            generalInformation.sort === 'userName' && generalInformation.order === 1
                          " style="vertical-align: bottom;">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="
                            generalInformation.sort === 'userName' && generalInformation.order === -1
                          " style="vertical-align: bottom;">arrow_drop_up</i>
                      </th>
                      <th scope="col" (click)="onSort('vehiclePlate', generalInformation, 'generalInformation')">
                        Matrícula<i class="material-icons" *ngIf="
                            generalInformation.sort === 'vehiclePlate' &&
                            generalInformation.order === 1
                          " style="vertical-align: bottom;">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="
                            generalInformation.sort === 'vehiclePlate' &&
                            generalInformation.order === -1
                          " style="vertical-align: bottom;">arrow_drop_up</i>
                      </th>
                      <th scope="col" (click)="onSort('vehicleType', generalInformation, 'generalInformation')">
                        Tipo de Vehículo<i class="material-icons" *ngIf="
                            generalInformation.sort === 'vehicleType' &&
                            generalInformation.order === 1
                          " style="vertical-align: bottom;">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="
                            generalInformation.sort === 'vehicleType' &&
                            generalInformation.order === -1
                          " style="vertical-align: bottom;">arrow_drop_up</i>
                      </th>
                      <th scope="col" (click)="onSort('entrance', generalInformation, 'generalInformation')">
                        Fecha de Entrada<i class="material-icons" *ngIf="
                            generalInformation.sort === 'entrance' &&
                            generalInformation.order === 1
                          " style="vertical-align: bottom;">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="
                            generalInformation.sort === 'entrance' &&
                            generalInformation.order === -1
                          " style="vertical-align: bottom;">arrow_drop_up</i>
                      </th>
                      <th scope="col"></th>
                      <th scope="col" (click)="onSort('exit', generalInformation, 'generalInformation')">
                        Fecha de Salida<i class="material-icons" *ngIf="
                            generalInformation.sort === 'exit' &&
                            generalInformation.order === 1
                          " style="vertical-align: bottom;">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="
                            generalInformation.sort === 'exit' &&
                            generalInformation.order === -1
                          " style="vertical-align: bottom;">arrow_drop_up</i>
                      </th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let operation of operationsReport.operations">
                      <td>{{ operation.userName }}</td>
                      <td>{{ operation.vehiclePlate }} <i class="material-icons" style="cursor: pointer;"
                          (click)="operationToEdit = operation" data-target="#modalVehiclePlate"
                          data-toggle="modal">edit</i></td>
                      <td>
                        <i class="medium material-icons gray-text"
                          *ngIf="operation.vehicleType == 'CAR'">directions_car</i>
                        <i class="medium material-icons gray-text"
                          *ngIf="operation.vehicleType == 'MOTORCYCLE'">motorcycle</i>
                        <i class="medium material-icons gray-text"
                          *ngIf="operation.vehicleType == 'BICYCLE'">directions_bike</i>
                        <i class="medium material-icons gray-text"
                          *ngIf="operation.vehicleType == 'PUBLIC'">local_taxi</i>
                        <i class="medium material-icons gray-text"
                          *ngIf="operation.vehicleType == 'TRUCK'">local_shipping</i>
                      </td>
                      <td>
                        {{ operation.entrance }}
                      </td>
                      <td> <i class="material-icons" style="cursor: pointer;">photo</i> </td>
                      <td *ngIf="operation.exit; else elseBlock">
                        {{ operation.exit }}
                      </td>
                      <ng-template #elseBlock>
                        <td><i class="material-icons" (click)="operationToClose = operation"
                            data-target="#modalCloseOperation" data-toggle="modal"
                            style="cursor: pointer;">exit_to_app</i></td>
                      </ng-template>
                      <td><i class="material-icons" style="cursor: pointer;" *ngIf="operation.exit">photo</i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-center">
                <ngb-pagination [pageSize]="generalInformation.itemsPerPage"
                  [collectionSize]="operationsReport.totalItems" [(page)]="currentPage" [maxSize]="5"
                  [boundaryLinks]="true" (pageChange)="findGeneralInformation()">
                </ngb-pagination>
              </div>
              <div class="btn-group dropup float-right" style="position: relative;">
                <button class="btn btn-primary btn-circle btn-circle-lg m-1 pull-right" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="large material-icons" style="top: 2px;">file_download</i>
                </button>
                <div class="dropdown-menu dropdown-menu">
                  <button class="dropdown-item" type="button" (click)="exportGeneralInformationToPdf()">
                    PDF
                  </button>
                  <button class="dropdown-item" type="button" (click)="exportGeneralInformationToXls()">
                    EXCEL
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false"
          aria-controls="collapseOne" style="cursor: pointer;" id="generalInformationFooter">
          <i class="material-icons blue-middle-text"
            style="position: relative; top: 5px; margin-right: 10px;">date_range</i>
          {{ generalInformation.from | date:'yyyy-MM-d HH:mm' }} -
          {{ generalInformation.to | date:'yyyy-MM-d HH:mm'}}
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#generalInformationFooter">
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-sm-2">
                  <label for="inputStartDate">Desde</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="inputStartDate"
                      [value]="generalInformation.from | date: 'y-MM-dd'" ngbDatepicker #d="ngbDatepicker"
                      (dateSelect)="onDateSelect($event, 'initial', generalInformation)" />
                    <div class="input-group-append">
                      <button (click)="d.toggle()" class="btn btn-primary" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-2">
                  <label for="inputEndDate">Hasta</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="inputEndDate"
                      [value]="generalInformation.to | date: 'y-MM-dd'" ngbDatepicker #d2="ngbDatepicker"
                      (dateSelect)="onDateSelect($event, 'final', generalInformation)" />
                    <div class="input-group-append">
                      <button (click)="d2.toggle()" class="btn btn-primary" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary in-form-row-btn" (click)="findGeneralInformation()">
                  BUSCAR
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Vehicle plate modal -->
      <div class="modal" id="modalVehiclePlate" tabindex="-1" role="dialog" aria-labelledby="modalVehiclePlateTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title text-danger" id="modalVehiclePlateTitle">
                Editar Matrícula
              </h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="vehiclePlate">Matrícula:</label>
                      <input type="text" class="form-control" id="vehiclePlate" name="vehiclePlate"
                        [(ngModel)]="operationToEdit.vehiclePlate" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">
                Cancelar
              </button>
              <button type="button" class="btn" data-dismiss="modal" (click)="saveVehiclePlate()">
                Confirmar
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Close Operation modal -->
      <div class="modal" id="modalCloseOperation" tabindex="-1" role="dialog" aria-labelledby="modalCloseOperationTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title text-danger" id="modalCloseOperationTitle">
                Cerrar Operación
              </h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>¿Esta seguro de cerrar esta operación?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">
                Cancelar
              </button>
              <button type="button" class="btn" data-dismiss="modal" (click)="updateExitOperation()">
                Confirmar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row">
        <!-- Número de Entradas -->
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-body px-5">
              <div class="tab-content" id="myTabContent">
                <!-- Icons -->
                <div class="tab-pane fade show active" id="iconsVehicleEntrance" role="tabpanel"
                  aria-labelledby="iconsEntrance-tab">
                  <div class="d-flex">
                    <div class="text-center mr-auto">
                      <h4>{{ operationsByEntranceNumber.totalItems }}</h4>
                      <p>Vehículos</p>
                    </div>
                    <div class="text-center">
                      <i class="material-icons blue-middle-text" style="font-size: 3em">compare_arrows</i>
                      <p class="blue-middle-text subtitle">Número de Entradas</p>
                    </div>
                  </div>
                  <br />
                  <diV class="row" *ngFor="let operation of operationsByEntranceNumber.operations">
                    <div class="col-3">
                      <i class="material-icons teal-light-text" style="font-size: 3rem;">
                        {{ setIcon(operation.vehicleType) }}
                      </i>
                    </div>
                    <div class="col-9">
                      <p style="margin-bottom: 0; font-size: 0.9rem;">Se registran <span
                          style="font-weight: bold;">{{ operation.count }}</span> ingresos a la fecha.
                      </p>
                      <p>Matrícula: <span style="font-weight: bold;">{{ operation.vehiclePlate }}</span></p>
                    </div>
                  </diV>
                  <button #toTableEntrance class="btn btn-primary btn-sm btn-block" data-toggle="tab"
                    data-target="#tableVehicleEntrance" *ngIf="operationsByEntranceNumber.operations.length"
                    (click)="removeActiveClass(toTableEntrance)">
                    <i class="material-icons">
                      arrow_drop_down
                    </i>
                  </button>
                </div>
                <!-- Tabla -->
                <div class="tab-pane fade" id="tableVehicleEntrance" role="tabpanel"
                  aria-labelledby="tableVehicleEntrances-tab">
                  <div class="row">
                    <div class="col-8">
                      <div class="form-group">
                        <input id="inputFilter" type="text" class="form-control" placeholder="Filtrar por:"
                          [(ngModel)]="vehiclesByEntranceNumber.filter" (keyup)="onFilter($event,
                          vehiclesByEntranceNumber, 'entranceNumber')" />
                        <small class="form-text text-muted"
                          *ngIf="vehiclesByEntranceNumber.filter.length < 3 && vehiclesByEntranceNumber.filter.length !==0">Digite
                          más de 3 caracteres para
                          buscar.</small>
                      </div>
                    </div>
                    <div class="col-4">
                      <i #toIconsVehicleEntrance class="material-icons pull-right"
                        style="cursor: pointer; position: relative; top: 5px;" data-toggle="tab"
                        data-target="#iconsVehicleEntrance"
                        (click)="removeActiveClass(toIconsVehicleEntrance)">clear</i>
                    </div>
                  </div>
                  <div *ngIf="operationsByEntranceNumber.operations.length > 0" class="table-responsive">
                    <table class="table text-center">
                      <thead style="cursor: pointer;">
                        <tr>
                          <th scope="col" (click)="onSort('vehiclePlate', vehiclesByEntranceNumber, 'entranceNumber')">
                            Matrícula<i class="material-icons" *ngIf="
                          vehiclesByEntranceNumber.sort === 'vehiclePlate' &&
                          vehiclesByEntranceNumber.order === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                            <i class="material-icons" *ngIf="
                          vehiclesByEntranceNumber.sort === 'vehiclePlate' &&
                          vehiclesByEntranceNumber.order === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                          </th>
                          <th scope="col" (click)="onSort('vehicleType', vehiclesByEntranceNumber, 'entranceNumber')">
                            Tipo de Vehículo<i class="material-icons" *ngIf="
                          vehiclesByEntranceNumber.sort === 'vehicleType' &&
                          vehiclesByEntranceNumber.order === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                            <i class="material-icons" *ngIf="
                          vehiclesByEntranceNumber.sort === 'vehicleType' &&
                          vehiclesByEntranceNumber.order === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                          </th>
                          <th scope="col" (click)="onSort('count', vehiclesByEntranceNumber, 'entranceNumber')">
                            Cantidad<i class="material-icons" *ngIf="
                          vehiclesByEntranceNumber.sort === 'count' &&
                          vehiclesByEntranceNumber.order === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                            <i class="material-icons" *ngIf="
                          vehiclesByEntranceNumber.sort === 'count' &&
                          vehiclesByEntranceNumber.order === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                          </th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let operation of operationsByEntranceNumber.operations">
                          <td>{{ operation.vehiclePlate }}</td>
                          <td>
                            <i class="medium material-icons gray-text"
                              *ngIf="operation.vehicleType == 'CAR'">directions_car</i>
                            <i class="medium material-icons gray-text"
                              *ngIf="operation.vehicleType == 'MOTORCYCLE'">motorcycle</i>
                            <i class="medium material-icons gray-text"
                              *ngIf="operation.vehicleType == 'BICYCLE'">directions_bike</i>
                            <i class="medium material-icons gray-text"
                              *ngIf="operation.vehicleType == 'PUBLIC'">local_taxi</i>
                            <i class="medium material-icons gray-text"
                              *ngIf="operation.vehicleType == 'TRUCK'">local_shipping</i>
                          </td>
                          <td>
                            {{ operation.count }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-center">
                    <ngb-pagination [pageSize]="vehiclesByEntranceNumber.itemsPerPage"
                      [collectionSize]="operationsByEntranceNumber.totalItems" [(page)]="currentPageVehiclesByEntrance"
                      [maxSize]="3" [boundaryLinks]="true" size="sm" (pageChange)="getOperationsByEntranceNumber()">
                    </ngb-pagination>
                  </div>
                  <div class="btn-group dropup float-right" style="position: relative;">
                    <button class="btn btn-primary btn-circle btn-circle-lg m-1 pull-right" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="large material-icons" style="top: 2px;">file_download</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu">
                      <button class="dropdown-item" type="button" (click)="exportOperationsByEntranceNumberToPdf()">
                        PDF
                      </button>
                      <button class="dropdown-item" type="button" (click)="exportOperationsByEntranceNumberToXls()">
                        EXCEL
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false"
              aria-controls="collapseOne" style="cursor: pointer;" id="EntranceFooter">
              <i class="material-icons blue-middle-text"
                style="position: relative; top: 5px; margin-right: 10px;">date_range</i>
              {{ vehiclesByEntranceNumber.from | date:'yyyy-MM-d HH:mm' }} -
              {{ vehiclesByEntranceNumber.to | date:'yyyy-MM-d HH:mm'}}
              <i class="material-icons blue-middle-text" style="padding-left: 5px; position: relative; top: 7px; 
              padding-right: 5px;">compare_arrows</i>
              {{ vehiclesByEntranceNumber.gte }}
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#EntranceFooter">
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="inputStartDate">Desde</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="inputStartDate"
                        [value]="vehiclesByEntranceNumber.from | date: 'y-MM-dd'" ngbDatepicker #d3="ngbDatepicker"
                        (dateSelect)="onDateSelect($event, 'initial', vehiclesByEntranceNumber)" />
                      <div class="input-group-append">
                        <button (click)="d3.toggle()" class="btn btn-primary" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEndDate">Hasta</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="inputEndDate"
                        [value]="vehiclesByEntranceNumber.to | date: 'y-MM-dd'" ngbDatepicker #d4="ngbDatepicker"
                        (dateSelect)="onDateSelect($event, 'final', vehiclesByEntranceNumber)" />
                      <div class="input-group-append">
                        <button (click)="d4.toggle()" class="btn btn-primary" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputNumber">Mayor o igual a</label>
                    <input type="number" class="form-control" id="inputNumber" name="inputNumber" min="1"
                      [(ngModel)]="vehiclesByEntranceNumber.gte" />
                  </div>
                  <button class="btn btn-primary btn-block" (click)="getOperationsByEntranceNumber()">BUSCAR</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Tiempo -->
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-body px-5">
              <div class="tab-content" id="myTabContent">
                <!-- Icons -->
                <div class="tab-pane fade show active" id="iconsParkingTime" role="tabpanel"
                  aria-labelledby="iconsParkingTime-tab">
                  <div class="d-flex">
                    <div class="text-center mr-auto">
                      <h4>{{ operationsByParkingTime.totalItems }}</h4>
                      <p>Entradas</p>
                    </div>
                    <div class="text-center">
                      <i class="material-icons blue-middle-text" style="font-size: 3em">access_time</i>
                      <p class="blue-middle-text subtitle">Tiempo</p>
                    </div>
                  </div>
                  <br />
                  <diV class="row" *ngFor="let operation of operationsByParkingTime.operations">
                    <div class="col-3">
                      <i class="material-icons teal-light-text" style="font-size: 3rem;">
                        {{ setIcon(operation.vehicleType) }}
                      </i>
                    </div>
                    <div class="col-9">
                      <p style="margin-bottom: 0; font-size: 0.9rem;">Duración: <span
                          style="font-weight: bold;">{{ operation.parkingTime }}</span>
                      </p>
                      <p>Matrícula: <span style="font-weight: bold;">{{ operation.vehiclePlate }}</span></p>
                    </div>
                  </diV>
                  <button #toTableParkingTime class="btn btn-primary btn-sm btn-block" data-toggle="tab"
                    data-target="#tableParkingTime" *ngIf="operationsByParkingTime.operations.length"
                    (click)="removeActiveClass(toTableParkingTime)">
                    <i class="material-icons">
                      arrow_drop_down
                    </i>
                  </button>
                </div>
                <!-- Tabla -->
                <div class="tab-pane fade" id="tableParkingTime" role="tabpanel" aria-labelledby="table-tab">
                  <div class="row">
                    <div class="col-8">
                      <div class="form-group">
                        <input id="inputFilter" type="text" class="form-control" placeholder="Filtrar por:"
                          [(ngModel)]="entryByParkingTime.filter"
                          (keyup)="onFilter($event, entryByParkingTime, 'parkingTime')" />
                        <small class="form-text text-muted"
                          *ngIf="entryByParkingTime.filter.length < 3 && entryByParkingTime.filter.length !==0">Digite
                          más de 3 caracteres para
                          buscar.</small>
                      </div>
                    </div>
                    <div class="col-4">
                      <i #toIconsParkingTime class="material-icons pull-right"
                        style="cursor: pointer; position: relative; top: 5px;" data-toggle="tab"
                        data-target="#iconsParkingTime" (click)="removeActiveClass(toIconsParkingTime)">clear</i>
                    </div>
                  </div>
                  <div *ngIf="operationsByParkingTime.operations.length > 0" class="table-responsive">
                    <table class="table text-center">
                      <thead style="cursor: pointer;">
                        <tr>
                          <th scope="col" (click)="onSort('vehiclePlate', entryByParkingTime, 'parkingTime')">
                            Matrícula<i class="material-icons" *ngIf="
                          entryByParkingTime.sort === 'vehiclePlate' &&
                          entryByParkingTime.order === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                            <i class="material-icons" *ngIf="
                          entryByParkingTime.sort === 'vehiclePlate' &&
                          entryByParkingTime.order === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                          </th>
                          <th scope="col" (click)="onSort('vehicleType', entryByParkingTime, 'parkingTime')">
                            Tipo de Vehículo<i class="material-icons" *ngIf="
                          entryByParkingTime.sort === 'vehicleType' &&
                          entryByParkingTime.order === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                            <i class="material-icons" *ngIf="
                          entryByParkingTime.sort === 'vehicleType' &&
                          entryByParkingTime.order === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                          </th>
                          <th scope="col" (click)="onSort('parkingTimeInSeconds', entryByParkingTime, 'parkingTime')">
                            Duración<i class="material-icons" *ngIf="
                          entryByParkingTime.sort === 'parkingTimeInSeconds' &&
                          entryByParkingTime.order === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                            <i class="material-icons" *ngIf="
                          entryByParkingTime.sort === 'parkingTimeInSeconds' &&
                          entryByParkingTime.order === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                          </th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let operation of operationsByParkingTime.operations">
                          <td>{{ operation.vehiclePlate }}</td>
                          <td>
                            <i class="medium material-icons gray-text"
                              *ngIf="operation.vehicleType == 'CAR'">directions_car</i>
                            <i class="medium material-icons gray-text"
                              *ngIf="operation.vehicleType == 'MOTORCYCLE'">motorcycle</i>
                            <i class="medium material-icons gray-text"
                              *ngIf="operation.vehicleType == 'BICYCLE'">directions_bike</i>
                            <i class="medium material-icons gray-text"
                              *ngIf="operation.vehicleType == 'PUBLIC'">local_taxi</i>
                            <i class="medium material-icons gray-text"
                              *ngIf="operation.vehicleType == 'TRUCK'">local_shipping</i>
                          </td>
                          <td>
                            {{ operation.parkingTime }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-center">
                    <ngb-pagination [pageSize]="entryByParkingTime.itemsPerPage"
                      [collectionSize]="operationsByParkingTime.totalItems" [(page)]="currentPageEntryByParkingTime"
                      [maxSize]="3" [boundaryLinks]="true" size="sm" (pageChange)="getOperationsByParkingTime()">
                    </ngb-pagination>
                  </div>
                  <div class="btn-group dropup float-right" style="position: relative;">
                    <button class="btn btn-primary btn-circle btn-circle-lg m-1 pull-right" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="large material-icons" style="top: 2px;">file_download</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu">
                      <button class="dropdown-item" type="button" (click)="exportOperationsByParkingTimeToPdf()">
                        PDF
                      </button>
                      <button class="dropdown-item" type="button" (click)="exportOperationsByParkingTimeToXls()">
                        EXCEL
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false"
              aria-controls="collapseThree" style="cursor: pointer;" id="EntranceFooter">
              <div class="row">
                <div class="col-9">
                  <i class="material-icons blue-middle-text"
                    style="position: relative; top: 5px; margin-right: 10px;">date_range</i>
                  {{ entryByParkingTime.from | date:'yyyy-MM-d HH:mm' }} -
                  {{ entryByParkingTime.to | date:'yyyy-MM-d HH:mm'}}
                </div>
                <div class="col-3">
                  <i class="material-icons blue-middle-text" style="padding-left: 5px; position: relative; top: 7px; 
                                padding-right: 5px;">access_time</i>
                  {{ entryByParkingTime.gte }} min.
                </div>
              </div>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#EntranceFooter">
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="inputStartDate">Desde</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="inputStartDate"
                        [value]="entryByParkingTime.from | date: 'y-MM-dd'" ngbDatepicker #d5="ngbDatepicker"
                        (dateSelect)="onDateSelect($event, 'initial', entryByParkingTime)" />
                      <div class="input-group-append">
                        <button (click)="d5.toggle()" class="btn btn-primary" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEndDate">Hasta</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="inputEndDate"
                        [value]="entryByParkingTime.to | date: 'y-MM-dd'" ngbDatepicker #d6="ngbDatepicker"
                        (dateSelect)="onDateSelect($event, 'final', entryByParkingTime)" />
                      <div class="input-group-append">
                        <button (click)="d6.toggle()" class="btn btn-primary" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputNumber">Mayor o igual a (min)</label>
                    <input type="number" class="form-control" id="inputNumber" name="inputNumber" min="1"
                      [(ngModel)]="entryByParkingTime.gte" />
                  </div>
                  <button class="btn btn-primary btn-block" (click)="getOperationsByParkingTime()">BUSCAR</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Matrícula -->
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body px-5">
              <div class="tab-content" id="myTabContent">
                <!-- Icons -->
                <div class="tab-pane fade show active" id="iconsVehiclePlate" role="tabpanel"
                  aria-labelledby="iconsVehiclePlate-tab">
                  <div class="d-flex">
                    <div class="text-center mr-auto">
                      <h4>{{ operationsByVehiclePlate.totalItems }}</h4>
                      <p>Entradas</p>
                    </div>
                    <div class="text-center">
                      <h4 class="blue-middle-text">{{ entryByVehiclePlate.vehiclePlate }}</h4>
                      <p class="blue-middle-text subtitle">Matrícula</p>
                    </div>
                  </div>
                  <br />
                  <diV class="row" *ngFor="let operation of operationsByVehiclePlate.operations">
                    <div class="col-12">
                      <p style="margin-bottom: 0; font-size: 0.9rem;">Duración: <span
                          style="font-weight: bold;">{{ operation.parkingTime }}</span>
                      </p>
                      <p>Ingresó el <span style="font-weight: bold;">{{ operation.entrance }}</span></p>
                    </div>
                  </diV>
                  <button #toTableVehiclePlate class="btn btn-primary btn-sm btn-block" data-toggle="tab"
                    data-target="#tableVehiclePlate" *ngIf="operationsByVehiclePlate.operations.length"
                    (click)="removeActiveClass(toTableVehiclePlate)">
                    <i class="material-icons">
                      arrow_drop_down
                    </i>
                  </button>
                </div>
                <!-- Tabla -->
                <div class="tab-pane fade" id="tableVehiclePlate" role="tabpanel" aria-labelledby="table-tab">
                  <div class="row">
                    <div class="col-8">
                      <div class="form-group">
                        <input id="inputFilter" type="text" class="form-control" placeholder="Filtrar por:"
                          [(ngModel)]="entryByVehiclePlate.filter"
                          (keyup)="onFilter($event, entryByVehiclePlate, 'vehiclePlate')" />
                        <small class="form-text text-muted"
                          *ngIf="entryByVehiclePlate.filter.length < 3 && entryByVehiclePlate.filter.length !==0">Digite
                          más de 3 caracteres para
                          buscar.</small>
                      </div>
                    </div>
                    <div class="col-4">
                      <i #toIconsVehiclePlate class="material-icons pull-right"
                        style="cursor: pointer; position: relative; top: 5px;" data-toggle="tab"
                        data-target="#iconsVehiclePlate" (click)="removeActiveClass(toIconsVehiclePlate)">clear</i>
                    </div>
                  </div>
                  <div *ngIf="operationsByVehiclePlate.operations.length > 0" class="table-responsive">
                    <table class="table text-center">
                      <thead style="cursor: pointer;">
                        <tr>
                          <th scope="col" (click)="onSort('entrance', entryByVehiclePlate, 'vehiclePlate')">
                            Fecha de Ingreso<i class="material-icons" *ngIf="
                          entryByVehiclePlate.sort === 'entrance' &&
                          entryByVehiclePlate.order === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                            <i class="material-icons" *ngIf="
                          entryByVehiclePlate.sort === 'entrance' &&
                          entryByVehiclePlate.order === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                          </th>
                          <th scope="col" (click)="onSort('parkingTimeInSeconds', entryByVehiclePlate, 'vehiclePlate')">
                            Duración<i class="material-icons" *ngIf="
                          entryByVehiclePlate.sort === 'parkingTimeInSeconds' &&
                          entryByVehiclePlate.order === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                            <i class="material-icons" *ngIf="
                          entryByVehiclePlate.sort === 'parkingTimeInSeconds' &&
                          entryByVehiclePlate.order === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let operation of operationsByVehiclePlate.operations">
                          <td>{{ operation.entrance }}</td>
                          <td>
                            {{ operation.parkingTime }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-center">
                    <ngb-pagination [pageSize]="entryByVehiclePlate.itemsPerPage"
                      [collectionSize]="operationsByVehiclePlate.totalItems" [(page)]="currentPageEntryByVehiclePlate"
                      [maxSize]="3" [boundaryLinks]="true" size="sm" (pageChange)="getOperationsByVehiclePlate()">
                    </ngb-pagination>
                  </div>
                  <div class="btn-group dropup float-right" style="position: relative;">
                    <button class="btn btn-primary btn-circle btn-circle-lg m-1 pull-right" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="large material-icons" style="top: 2px;">file_download</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu">
                      <button class="dropdown-item" type="button" (click)="exportOperationsByVehiclePlateToPdf()">
                        PDF
                      </button>
                      <button class="dropdown-item" type="button" (click)="exportOperationsByVehiclePlateToXls()">
                        EXCEL
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false"
              aria-controls="collapseOne" style="cursor: pointer;" id="EntranceFooter">
              <div class="row">
                <div class="col-9">
                  <i class="material-icons blue-middle-text"
                    style="position: relative; top: 5px; margin-right: 10px;">date_range</i>
                  {{ entryByVehiclePlate.from | date:'yyyy-MM-d HH:mm' }} -
                  {{ entryByVehiclePlate.to | date:'yyyy-MM-d HH:mm'}}
                </div>
                <div class="col-3">
                  <i class="material-icons blue-middle-text" style="padding-left: 5px; position: relative; top: 7px; 
              padding-right: 5px;">info_outline</i>
                  {{ entryByVehiclePlate.vehiclePlate }}
                </div>
              </div>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#EntranceFooter">
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="inputStartDate">Desde</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="inputStartDate"
                        [value]="entryByVehiclePlate.from | date: 'y-MM-dd'" ngbDatepicker #d7="ngbDatepicker"
                        (dateSelect)="onDateSelect($event, 'initial', entryByVehiclePlate)" />
                      <div class="input-group-append">
                        <button (click)="d7.toggle()" class="btn btn-primary" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEndDate">Hasta</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="inputEndDate"
                        [value]="entryByVehiclePlate.to | date: 'y-MM-dd'" ngbDatepicker #d8="ngbDatepicker"
                        (dateSelect)="onDateSelect($event, 'final', entryByVehiclePlate)" />
                      <div class="input-group-append">
                        <button (click)="d8.toggle()" class="btn btn-primary" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputVehiclePlate">Matrícula</label>
                    <input type="text" class="form-control" id="inputVehiclePlate" name="inputVehiclePlate" min="1"
                      [(ngModel)]="entryByVehiclePlate.vehiclePlate" />
                  </div>
                  <button class="btn btn-primary btn-block" (click)="getOperationsByVehiclePlate()">BUSCAR</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
