<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-10">
			<br />
			<h4 class="blue-text title  animated fadeIn fast">
				Duplicado de Factura
			</h4>
			<br />
			<div class="card">
				<div class="card-body">
					<form class="form-inline">
						<label class="mb-2 mr-sm-2" for="searchBy">Consultar por:</label>
						<select
							class="custom-select mb-2 mr-sm-2"
							id="searchBy"
							[(ngModel)]="searchBy"
							name="searchBy"
							(change)="onChange()"
						>
							<option selected>Seleccione su opción</option>
							<option value="operationCode">Código QR</option>
							<option value="vehiclePlate">Matrícula</option>
							<option value="additionalCode">Tarjeta</option>
						</select>
						<label
							for="vehiclePlateInput"
							class="mb-2 mr-sm-2"
							*ngIf="searchBy === 'vehiclePlate'"
							>Matrícula:</label
						>
						<input
							*ngIf="searchBy === 'vehiclePlate'"
							type="text"
							class="form-control mb-2 mr-sm-2"
							id="vehiclePlateInput"
							placeholder="AAA123"
							name="vehiclePlateInput"
							[(ngModel)]="operation.vehiclePlate"
						/>
						<label
							for="additionalCodeInput"
							class="mb-2 mr-sm-2"
							*ngIf="searchBy === 'additionalCode'"
							>Tarjeta:</label
						>
						<input
							*ngIf="searchBy === 'additionalCode'"
							type="text"
							class="form-control mb-2 mr-sm-2"
							id="additionalCodeInput"
							placeholder=""
							name="additionalCodeInput"
							[(ngModel)]="operation.additionalCode"
						/>
						<label
							for="codeInput"
							class="mb-2 mr-sm-2"
							*ngIf="searchBy === 'operationCode'"
							>Código QR:</label
						>
						<input
							*ngIf="searchBy === 'operationCode'"
							type="text"
							class="form-control mb-2 mr-sm-2"
							id="codeInput"
							placeholder=""
							name="codeInput"
							[(ngModel)]="operation.operationCode"
						/>
						<button
							class="btn btn-primary mb-2"
							*ngIf="
								operation.vehiclePlate ||
								operation.additionalCode ||
								operation.operationCode
							"
							(click)="searchPaymentsOperation()"
						>
							BUSCAR
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center" style="padding-top: 20px;">
		<h4 *ngIf="showInformationNotFound">
			¡No se encontró información!
		</h4>
	</div>
	<div class="d-flex justify-content-center" *ngIf="showLoading">
		<div
			class="spinner-border text-primary"
			style="width: 3rem; height: 3rem;"
			role="status"
		>
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<div
		class="row justify-content-center"
		*ngIf="operationPayments"
		style="padding-top: 20px;"
	>
		<div class="col-md-9">
			<div
				class="card"
				*ngFor="let operationPayment of operationPayments; let i = index"
			>
				<div class="card-header">
					<div class="row">
						<div class="col">
							<h5 class="blue-text title ">Factura {{ i + 1 }}</h5>
						</div>
						<div class="col">
							<a class="blue-text float-right" style="cursor: pointer;">
								<i
									class="material-icons"
									(click)="printPaymentTicket(operationPayment)"
								>
									file_download
								</i>
							</a>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-3 text-center">
							<i
								class="large material-icons"
								style="color: #ffb400; font-size: 4rem;"
							>
								access_time
							</i>
							<p style="color: #ffb400; font-size: 1.2em">Fecha</p>
							<p>
								{{ setFormatedDate(operationPayment.created) }}
							</p>
						</div>
						<div class="col-sm-3 text-center">
							<i
								class="material-icons fa-lg"
								style="color: #f08a5d; font-size: 4rem;"
							>
								receipt
							</i>
							<p style="color: #f08a5d; font-size: 1.2em">
								Número de Factura
							</p>
							<p>
								{{ operationPayment.taxResolutionRangePrefix }}-{{
									operationPayment.invoiceNumber
								}}.
							</p>
						</div>
						<div class="col-sm-3 text-center">
							<i
								class="material-icons fa-lg"
								style="color: #2994b2; font-size: 4rem;"
							>
								attach_money
							</i>
							<p style="color: #2994b2; font-size: 1.2em">
								Total Recaudado
							</p>
							<p>
								{{ operationPayment.roundedTotal | currency: 'COP':'$' }}
							</p>
						</div>
						<div class="col-sm-3 text-center">
							<i
								class="material-icons fa-lg"
								style="color: #474744; font-size: 4rem;"
							>
								person
							</i>
							<p style="color: #474744; font-size: 1.2em">
								Usuario
							</p>
							<p>
								{{ operationPayment.userName }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
