<div class="container-fluid">
	<div class="row justify-content-md-center">
		<div class="col-md-10">
			<br />
			<h4 class="blue-text title  animated fadeIn fast">Suscripciones</h4>
			<br />
			<div class="input-group col-sm-7">
				<input type="text" class="form-control" placeholder="Filtrar por:"
					(keyup)="onFilter($event.target.value)" />
			</div>

			<br />
			<h5 id="message" class="center gray-text" *ngIf="showInformationNotFound">
				¡No se encontró información!.
			</h5>

			<div class="d-flex justify-content-center" *ngIf="showLoading">
				<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>

			<div *ngIf="subscriptionsToDisplay" class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th scope="col" sortable="created" (sort)="onSort($event)">
								Fecha<i class="material-icons" *ngIf="
										lastSort.column === 'created' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'created' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="vehiclePlate" (sort)="onSort($event)">
								Matrícula/Código<i class="material-icons" *ngIf="
										lastSort.column === 'vehiclePlate' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'vehiclePlate' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="start" (sort)="onSort($event)">
								Desde<i class="material-icons" *ngIf="
										lastSort.column === 'start' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'start' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="end" (sort)="onSort($event)">
								Hasta<i class="material-icons" *ngIf="
										lastSort.column === 'end' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'end' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="subscriptionPriceId" (sort)="onSort($event)">
								Tarifa<i class="material-icons" *ngIf="
										lastSort.column === 'subscriptionPriceId' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'subscriptionPriceId' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="quantity" (sort)="onSort($event)">
								Cantidad<i class="material-icons" *ngIf="
										lastSort.column === 'quantity' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'quantity' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="total" (sort)="onSort($event)">
								Total<i class="material-icons" *ngIf="
										lastSort.column === 'total' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'total' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="username" (sort)="onSort($event)">
								Usuario<i class="material-icons" *ngIf="
										lastSort.column === 'username' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'username' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="subscriptionState" (sort)="onSort($event)">
								Estado<i class="material-icons" *ngIf="
										lastSort.column === 'subscriptionState' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'subscriptionState' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="
								let subscription of subscriptionsToDisplay
									| slice
										: (page - 1) * pageSize
										: (page - 1) * pageSize + pageSize;
								index as i
							">
							<td [textContent]="subscription.created | date: 'y-MM-dd h:mm:ss'"></td>
							<td>{{ subscription.vehiclePlate }}</td>
							<td [textContent]="subscription.start | date: 'y-MM-dd h:mm:ss'"></td>
							<td [textContent]="subscription.end | date: 'y-MM-dd h:mm:ss'"></td>
							<td>
								{{ setSubscriptionPrice(subscription.subscriptionPriceId) }}
							</td>
							<td>{{ subscription.quantity }}</td>
							<td [textContent]="subscription.total | currency: 'COP':'$'"></td>
							<td>{{ subscription.username }}</td>
							<td>
								<div class="status-pill-green" *ngIf="subscription.subscriptionState == 'ENABLED'">
								</div>
								<div class="status-pill-red" *ngIf="subscription.subscriptionState == 'DISABLED'"></div>
							</td>
							<td>
								<a style="cursor: pointer;" data-toggle="tooltip" title="Imprimir"
									(click)="printSubscriptionCopy(subscription.id)">
									<i class="material-icons gray-text">
										print
									</i>
								</a>
							</td>
							<td>
								<a data-toggle="modal" title="Cancelar"
									*ngIf="subscription.subscriptionState == 'ENABLED'" style="cursor: pointer;"
									data-target="#confirmationModal" (click)="disableSubscription(subscription)">
									<i class="material-icons">close</i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="d-flex justify-content-center" *ngIf="subscriptions">
				<ngb-pagination [collectionSize]="subscriptionsToDisplay.length" [(page)]="page" [maxSize]="5"
					[boundaryLinks]="true">
				</ngb-pagination>
			</div>

			<!-- Modal Confirmation -->
			<div class="modal" id="confirmationModal" tabindex="-1" role="dialog"
				aria-labelledby="confirmationModalTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title text-danger" id="confirmationModalTitle">
								Cancelar Suscripción
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								¿Esta seguro de cancelar esta suscripción?
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								Cancelar
							</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal"
								(click)="updateSusbscriptionState()">
								Confirmar
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal new subscription -->
			<div class="modal" id="newSubscriptionModal" tabindex="-1" role="dialog"
				aria-labelledby="newSubscriptionModalTitle" aria-hidden="true" data-backdrop='static'>
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title text-primary" id="newSubscriptionModalTitle">
								Crear Suscripción
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="subscriptionPrice">Tarifa:</label>
											<select class="custom-select" id="subscriptionPrice"
												[(ngModel)]="newSubscription.subscriptionPriceId"
												name="subscriptionPrice" aria-placeholder="Seleccione su opción"
												(change)="calculateSubscription()">
												<option *ngFor="let subscriptionPrice of subscriptionPrices"
													[value]="subscriptionPrice.id">
													{{ subscriptionPrice.name }}
												</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="quantity">Cantidad:</label>
											<input type="number" min="1" class="form-control" id="quantity"
												name="quantity" [(ngModel)]="newSubscription.quantity"
												(change)="calculateSubscription()" />
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="from">Desde:</label>
											<div class="input-group">
												<input class="form-control" placeholder="yyyy-mm-dd" name="from"
													readonly="true" [value]="
														newSubscription.start | date: 'y-MM-dd h:mm:ss'
													" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelect($event)" />
												<div class="input-group-append">
													<button (click)="d.toggle()" class="btn btn-primary" type="button">
														<i class="fa fa-calendar"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6" *ngIf="searchEnded">
										<div class="form-group">
											<label for="to">Hasta:</label>
											<div class="input-group">
												<input class="form-control" placeholder="yyyy-mm-dd" name="to" [value]="
														newSubscription.end | date: 'y-MM-dd h:mm:ss'
													" ngbDatepicker readonly="true" #d2="ngbDatepicker" />
												<div class="input-group-append">
													<button (click)="d2.toggle()" type="button" disabled="true">
														<i class="fa fa-calendar"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-row" *ngIf="searchEnded">
									<div class="col-sm-4">
										<div class="form-group">
											<label for="amount">Subtotal:</label>
											<input type="text" min="1" class="form-control" id="amount" name="amount"
												readonly="true"
												[value]="newSubscription.amount | currency: 'COP':'$'" />
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label for="tax">IVA:</label>
											<input type="text" min="1" class="form-control" id="tax" name="tax"
												readonly="true" [value]="newSubscription.tax | currency: 'COP':'$'" />
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label for="total">Total:</label>
											<input type="text" min="1" class="form-control" id="total" name="total"
												readonly="true" [value]="newSubscription.total | currency: 'COP':'$'" />
										</div>
									</div>
								</div>
								<div class="form-row" *ngIf="searchEnded">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="vehiclePlate">Matrícula:</label>
											<input type="text" class="form-control" id="vehiclePlate"
												name="vehiclePlate" [(ngModel)]="newSubscription.vehiclePlate" />
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="additionalCode">Código:</label>
											<input type="text" class="form-control" id="additionalCode"
												name="additionalCode" [(ngModel)]="newSubscription.additionalCode" />
										</div>
									</div>
								</div>
								<div class="form-row" *ngIf="searchEnded">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="moneyReceived">Dinero recibido:</label>
											<input type="number" class="form-control" id="moneyReceived"
												name="moneyReceived" [(ngModel)]="moneyReceived" required />
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								Cancelar
							</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="
									(newSubscription.vehiclePlate ||
										newSubscription.additionalCode) &&
									moneyReceived >= newSubscription.total
								" (click)="saveSubscription()">
								Guardar
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="" style="position:fixed; bottom: 45px; right: 24px;">
				<button class="btn btn-primary btn-circle btn-circle-lg m-1" data-target="#newSubscriptionModal"
					data-toggle="modal">
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
	</div>
</div>
