<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <br />
      <h4 class="blue-text title  animated fadeIn fast">
        Tarifas de Suscripciones
      </h4>
      <br />
      <div class="input-group col-sm-7">
        <input type="text" class="form-control" placeholder="Filtrar por:" (keyup)="onFilter($event.target.value)" />
      </div>

      <br />
      <h5 id="message" class="center gray-text" *ngIf="showInformationNotFound">
        ¡No se encontró información!.
      </h5>

      <div class="d-flex justify-content-center" *ngIf="showLoading">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div *ngIf="subscriptionPricesToDisplay" class="table-responsive">
        <table class="table table-condensed text-center">
          <thead>
            <tr>
              <th scope="col" sortable="name" (sort)="onSort($event)">
                Nombre<i class="material-icons" *ngIf="
										lastSort.column === 'name' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'name' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="vehicleType" (sort)="onSort($event)">
                Tipo de Vehículo<i class="material-icons" *ngIf="
										lastSort.column === 'vehicleType' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'vehicleType' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="subscriptionTime" (sort)="onSort($event)">
                Tiempo<i class="material-icons" *ngIf="
										lastSort.column === 'subscriptionTime' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'subscriptionTime' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="cost" (sort)="onSort($event)">
                Valor<i class="material-icons" *ngIf="
										lastSort.column === 'cost' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'cost' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="tax" (sort)="onSort($event)">
                Impuesto<i class="material-icons" *ngIf="
										lastSort.column === 'tax' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'tax' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="
								let subscriptionPrice of subscriptionPricesToDisplay
									| slice
										: (page - 1) * pageSize
										: (page - 1) * pageSize + pageSize;
								index as i
							">
              <td>{{ subscriptionPrice.name }}</td>
              <td>
                <i class="material-icons gray-text">
                  {{ setIcon(subscriptionPrice.vehicleType) }}
                </i>
              </td>
              <td>{{ setTime(subscriptionPrice.subscriptionTime) }}</td>
              <td [textContent]="subscriptionPrice.cost | currency: 'COP':'$'"></td>
              <td>
                {{ subscriptionPrice.tax }}
              </td>
              <td>
                <i class="material-icons gray-text" data-target="#newSubscriptioPricenModal" data-toggle="modal"
                  style="cursor: pointer;" (click)="onSelect(subscriptionPrice)">
                  edit
                </i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center" *ngIf="subscriptionPricesToDisplay">
        <ngb-pagination [collectionSize]="subscriptionPricesToDisplay.length" [(page)]="page" [maxSize]="5"
          [boundaryLinks]="true">
        </ngb-pagination>
      </div>

      <div class="" style="position:fixed; bottom: 45px; right: 24px;">
        <button class="btn btn-primary btn-circle btn-circle-lg m-1" data-target="#newSubscriptioPricenModal"
          data-toggle="modal">
          <i class="fa fa-plus"></i>
        </button>
      </div>

      <!-- Modal new subscription -->
      <div class="modal" id="newSubscriptioPricenModal" tabindex="-1" role="dialog"
        aria-labelledby="newSubscriptioPricenModalTitle" aria-hidden="true" data-backdrop='static'>
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="newSubscriptioPricenModalTitle">
                {{ onEdit ? 'Editar Tarifa' : 'Crear Tarifa' }}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name">Nombre:</label>
                      <input type="text" class="form-control" id="name" name="name"
                        [(ngModel)]="newSubscriptionPrice.name" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="time">Tiempo:</label>
                      <select class="custom-select" id="time" [(ngModel)]="newSubscriptionPrice.subscriptionTime"
                        name="time" aria-placeholder="Seleccione su opción">
                        <option *ngFor="let t of timeList" [value]="t.value">
                          {{ t.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="cost">Precio:</label>
                      <input type="text" min="1" class="form-control" id="cost" name="cost"
                        [(ngModel)]="newSubscriptionPrice.cost" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="tax">Impuesto:</label>
                      <input type="text" min="1" class="form-control" id="tax" name="tax"
                        [(ngModel)]="newSubscriptionPrice.tax" />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="vehicleType">Tipo de Vehículo:</label>
                      <select class="custom-select" id="vehicleType" [(ngModel)]="newSubscriptionPrice.vehicleType"
                        name="vehicleType" aria-placeholder="Seleccione su opción">
                        <option *ngFor="let vehicle of vehicleTypeList" [value]="vehicle.value">
                          {{ vehicle.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onCancel()">
                Cancelar
              </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveSubscriptionPrice()"
                *ngIf="!onEdit">
                Guardar
              </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onEditSubscriptionPrice()"
                *ngIf="onEdit">
                Actualizar
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
