<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-10">
			<br />
			<h4 class="blue-text title  animated fadeIn fast">
				Notas de Crédito
			</h4>
			<br />
			<div class="card">
				<div class="card-body">
					<form>
						<div class="form-row">
							<div class="form-group col-sm-5">
								<label for="inputStartDate">Fecha:</label>
								<div class="input-group">
									<input type="text" class="form-control" id="inputStartDate"
										[value]="searchDate | date: 'y-MM-dd'" ngbDatepicker #d="ngbDatepicker"
										(dateSelect)="onDateSelect($event, 'initial')" />
									<div class="input-group-append">
										<button (click)="d.toggle()" class="btn btn-primary" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="form-group col-sm-5" *ngIf="creditNotes.notes.length > 0">
								<label for="inputFilter">Filtrar por:</label>
								<input type="text" class="form-control" id="inputFilter" name="inputFilter"
									[(ngModel)]="filterText" (keyup)="onFilter($event.target.value)" />
							</div>
							<div class="form-group col-sm-2" *ngIf="creditNotes.notes.length > 0">
								<button class="btn btn-primary btn-block" id="download-btn" (click)="exportData()">
									<i class="material-icons">file_download</i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="d-flex justify-content-center" *ngIf="showProcessingIcon" style="margin-top: 4rem;">
				<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<br />
			<div *ngIf="creditNotesToDisplay.notes.length > 0" class="table-responsive">
				<table class="table text-center">
					<thead style="cursor: pointer;">
						<tr>
							<th scope="col" sortable="created" (sort)="onSort($event)">
								Fecha<i class="material-icons" *ngIf="
										lastSort.column === 'created' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'created' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="customerName" (sort)="onSort($event)">
								Nombre<i class="material-icons" *ngIf="
										lastSort.column === 'customerName' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'customerName' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="customerIdentification" (sort)="onSort($event)">
								Cédula/NIT<i class="material-icons" *ngIf="
										lastSort.column === 'customerIdentification' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'customerIdentification' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="customerPhone" (sort)="onSort($event)">
								Teléfono<i class="material-icons" *ngIf="
										lastSort.column === 'customerPhone' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'customerPhone' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="invoiceNumber" (sort)="onSort($event)">
								No. Factura<i class="material-icons" *ngIf="
										lastSort.column === 'invoiceNumber' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'invoiceNumber' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="description" (sort)="onSort($event)">
								Descripción<i class="material-icons" *ngIf="
										lastSort.column === 'description' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'description' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="total" (sort)="onSort($event)">
								Valor<i class="material-icons" *ngIf="
										lastSort.column === 'total' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'total' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" sortable="username" (sort)="onSort($event)">
								Usuario<i class="material-icons" *ngIf="
										lastSort.column === 'username' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'username' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let creditNote of creditNotesToDisplay.notes">
							<td [textContent]="creditNote.created | date: 'y-MM-dd h:mm:ss'"></td>
							<td>{{ creditNote.customerName }}</td>
							<td>{{ creditNote.customerIdentification }}</td>
							<td>{{ creditNote.customerPhone }}</td>
							<td>
								{{ creditNote.rangePrefix + '-' + creditNote.invoiceNumber }}
							</td>
							<td>{{ creditNote.description }}</td>
							<td [textContent]="creditNote.total | currency: 'COP':'$'"></td>
							<td>{{ creditNote.username }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h6 class="text-secondary text-center" style="font-weight:bold;margin-top: 2rem;"
				*ngIf="creditNotesToDisplay.notes.length > 0">
				Total
			</h6>
			<h5 class="text-center text-primary" style="margin-top: 0.5rem;font-weight:bold;"
				*ngIf="creditNotesToDisplay.notes.length > 0">
				{{ creditNotesToDisplay.totalCollected | currency: 'COP':'$' }}
			</h5>

			<div class="d-flex justify-content-center" *ngIf="creditNotesToDisplay.notes.length > 0"
				style="margin-top: 2rem;">
				<ngb-pagination [collectionSize]="creditNotesToDisplay.notes.length" [(page)]="currentPage"
					[maxSize]="5" [boundaryLinks]="true">
				</ngb-pagination>
			</div>

			<!-- Modal new credit note -->
			<app-new-credit-note></app-new-credit-note>

			<div class="" style="position:fixed; bottom: 45px; right: 24px;">
				<button class="btn btn-primary btn-circle btn-circle-lg m-1" data-target="#newCreditNoteModal"
					data-toggle="modal">
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
	</div>
</div>
