.full-background {
  background-image: url("../../assets/img/background2.png");
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
}
