<div class="container-fluid h-100 full-background">
	<div class="animated slideInUp">
		<div class="alert alert-warning alert-dismissible fade hide" role="alert">
			<p id="alert-text"></p>
			<button
				type="button"
				class="close"
				data-dismiss="alert"
				aria-label="Close"
			>
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<br />
		<br />
		<br />
		<br />
		<div class="row justify-content-center">
			<img class="responsive-img" src="assets/img/parking-logo.png" />
		</div>
		<div class="row justify-content-center">
			<div class="input-group mb-3 col col-lg-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">
						<i class="material-icons prefix icon gray">account_circle</i>
					</span>
				</div>
				<input
					type="text"
					class="form-control"
					placeholder="Usuario"
					aria-label="Usuario"
					[(ngModel)]="login.username"
					aria-describedby="basic-addon1"
				/>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="input-group mb-3 col col-lg-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon2">
						<i class="material-icons prefix icon gray">lock</i>
					</span>
				</div>
				<input
					type="password"
					class="form-control"
					placeholder="Contraseña"
					aria-label="Contraseña"
					[(ngModel)]="login.password"
					aria-describedby="basic-addon2"
				/>
			</div>
		</div>
		<br />
		<div class="row justify-content-center">
			<div class="col col-lg-3">
				<button
					class="btn btn-block btn-primary"
					type="button"
					name="action"
					(click)="doLogin()"
				>
					CONTINUAR
				</button>
			</div>
		</div>
		<br />
		<div class="row justify-content-center">
			<a
				class="text-white"
				data-toggle="modal"
				data-target="#passwordRecoveryModal"
				style="cursor:pointer;"
				>OLVIDÉ MI CONTRASEÑA</a
			>
		</div>
		<!-- Modal -->
		<div
			class="modal fade"
			id="passwordRecoveryModal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="passwordRecoveryModalTitle"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5
							class="modal-title text-primary"
							id="passwordRecoveryModalTitle"
						>
							Restablecer contraseña
						</h5>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>
							Pon tu nombre de usuario de Parking|Online que usaste para
							registrarte. Te enviaremos un mensaje con un enlace para
							restablecer tu contraseña.
						</p>
						<div class="row justify-content-center">
							<div class="input-group mb-3 col-lg-10">
								<input
									placeholder="Nombre de Usuario"
									type="text"
									class="form-control"
									id="basic-url"
									[(ngModel)]="passwordRecoveryInfo.username"
									aria-describedby="basic-addon3"
								/>
							</div>
						</div>
						<p>
							Si aún necesitas ayuda, ponte en contacto con el Soporte de
							Ideamos Más.
						</p>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							(click)="passwordRecovery()"
							class="btn btn-primary"
						>
							Enviar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
