<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <br />
      <h4 class="blue-text title  animated fadeIn fast">
        Horarios
      </h4>
      <br />
      <div class="row">
        <!-- Schedule configuration-->
        <div class="col-xl-4 mb-4" *ngFor="let scheduleConfiguration of scheduleConfigurations; index as i">
          <div class="card">
            <div class="card-body px-4">
              <div class="d-flex">
                <div class="mr-auto">
                  <span class="title-text" (click)="scheduleConfiguration.editName = !scheduleConfiguration.editName"
                    *ngIf="!scheduleConfiguration.editName">{{ scheduleConfiguration.name }}</span>
                  <div class="input-group">
                    <input type="text" class="form-control title-text" *ngIf="scheduleConfiguration.editName"
                      [(ngModel)]="scheduleConfiguration.name" (keyup.enter)="onEditName(scheduleConfiguration)" />
                  </div>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px; cursor: pointer;">save</i>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" [attr.href]="'#collapseDates'+i" role="button"
              aria-expanded="false" aria-controls="collapseOne" style="cursor: pointer;" [id]="'Dates'+i">
              <div class="d-flex">
                <div class="mr-auto">
                  <h5>Fecha</h5>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px;">arrow_drop_down</i>
                </div>
              </div>
            </div>
            <div [id]="'collapseDates'+i" class="collapse" aria-labelledby="headingOne" [attr.data-parent]="'#Dates'+i">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col min-width-input-field">
                    <label for="inputStartDate">Fecha Inicial</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="inputStartDate"
                        [value]="scheduleConfiguration.startDate | date: 'y-MM-dd'" ngbDatepicker #d="ngbDatepicker"
                        (dateSelect)="onDateSelect($event, 'initial', scheduleConfiguration)" />
                      <div class="input-group-append">
                        <button (click)="d.toggle()" class="btn btn-primary" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col min-width-input-field">
                    <label for="inputEndDate">Fecha Final</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="inputEndDate"
                        [value]="scheduleConfiguration.endDate | date: 'y-MM-dd'" ngbDatepicker #d2="ngbDatepicker"
                        (dateSelect)="onDateSelect($event, 'final', scheduleConfiguration)" />
                      <div class="input-group-append">
                        <button (click)="d2.toggle()" class="btn btn-primary" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" [attr.href]="'#collapseHours'+i" role="button"
              aria-expanded="false" aria-controls="collapseOne" style="cursor: pointer;" [id]="'Hours'+i">
              <div class="d-flex">
                <div class="mr-auto">
                  <h5>Horas</h5>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px; cursor: pointer;">arrow_drop_down</i>
                </div>
              </div>
            </div>
            <div [id]="'collapseHours'+i" class="collapse" aria-labelledby="headingOne" [attr.data-parent]="'#Hours'+i">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <label>Hora Inicial</label>
                  </div>
                  <div class="col-5">
                    <label>Hora Final</label>
                  </div>
                </div>
                <div class="row" *ngFor="let schedule of scheduleConfiguration.schedules" style="padding-bottom: 10px;"
                  [hidden]="">
                  <div class="col-5">
                    <ngb-timepicker name="initialTime" [(ngModel)]="schedule.hourFrom" [spinners]="false">
                    </ngb-timepicker>
                  </div>
                  <div class="col-5">
                    <ngb-timepicker name="initialTime" [(ngModel)]="schedule.hourTo" [spinners]="false">
                    </ngb-timepicker>
                  </div>
                  <div class="col-2 d-flex justify-content-end">
                    <i class="material-icons text-danger" style="cursor: pointer; font-size: 40px;"
                      *ngIf="schedule.state === 'DISABLED'" (click)="onChangeState(schedule)">toggle_off</i>
                    <i class="material-icons text-success" style="cursor: pointer; font-size: 40px;"
                      *ngIf="schedule.state === 'ENABLED'" (click)="onChangeState(schedule)">toggle_on</i>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <ngb-timepicker name="initialTime" [(ngModel)]="scheduleConfiguration.hourFrom" [spinners]="false">
                    </ngb-timepicker>
                  </div>
                  <div class="col-5">
                    <ngb-timepicker name="initialTime" [(ngModel)]="scheduleConfiguration.hourTo" [spinners]="false">
                    </ngb-timepicker>
                  </div>
                  <div class="col-2 d-flex justify-content-end">
                    <i class="material-icons text-primary" style="cursor: pointer; font-size: 30px;"
                      (click)="onAddSchedule(scheduleConfiguration)">add_circle</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" [attr.href]="'#collapseDays'+i" role="button"
              aria-expanded="false" aria-controls="collapseOne" style="cursor: pointer;" [id]="'Days'+i">
              <div class="d-flex">
                <div class="mr-auto">
                  <h5>Dias</h5>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px;">arrow_drop_down</i>
                </div>
              </div>
            </div>
            <div [id]="'collapseDays'+i" class="collapse" aria-labelledby="headingOne" [attr.data-parent]="'#Days'+i">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col min-width-input-field">
                    <label for="inputStartDate">Dia Inicial</label>
                    <div class="input-group">
                      <select class="custom-select" [value]="scheduleConfiguration.weekdayFrom">
                        <option *ngFor="let day of days" [value]="day.value">{{ day.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col min-width-input-field">
                    <label for="inputEndDate">Dia Final</label>
                    <div class="input-group">
                      <select class="custom-select" [value]="scheduleConfiguration.weekdayTo">
                        <option *ngFor="let day of days" [value]="day.value">{{ day.name }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" [attr.href]="'#collapseConfiguration'+i" role="button"
              aria-expanded="false" aria-controls="collapseOne" style="cursor: pointer;" [id]="'Configuration'+i">
              <div class="d-flex">
                <div class="mr-auto">
                  <h5>Configuración</h5>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px;">arrow_drop_down</i>
                </div>
              </div>
            </div>
            <div [id]="'collapseConfiguration'+i" class="collapse" aria-labelledby="headingOne"
              [attr.data-parent]="'#Configuration'+i">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col min-width-input-field">
                    <label for="inputStartDate">Tipo de horario</label>
                    <div class="input-group">
                      <select class="custom-select" [value]="scheduleConfiguration.type">
                        <option *ngFor="let type of scheduleTypes" [value]="type.value">{{ type.name }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal new schedule -->
      <div class="modal" id="newScheduleModal" tabindex="-1" role="dialog" aria-labelledby="newScheduleModalTitle"
        aria-hidden="true" data-backdrop='static'>
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="newScheduleModalTitle">
                Nuevo Horario
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="nameSchedule">Nombre:</label>
                      <input type="text" class="form-control" id="nameSchedule" name="nameSchedule"
                        [(ngModel)]="newScheduleName" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group col min-width-input-field">
                      <label for="inputStartDate">Basado en:</label>
                      <div class="input-group">
                        <select class="custom-select" [value]="basedOnSchedule">
                          <option *ngFor="let scheduleConf of scheduleConfigurations" [value]="scheduleConf.idGroup">
                            {{ scheduleConf.name }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Cancelar
              </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onCreateSchedule()">
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="" style="position:fixed; bottom: 45px; right: 24px;">
        <button class="btn btn-primary btn-circle btn-circle-lg m-1" data-target="#newScheduleModal"
          data-toggle="modal">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
