﻿.backgroundImage {
    background: url("../../assets/img/background2.png");
}

.grayCarImage {
    background: url("../../assets/img/grayCar.png") center center no-repeat;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.indicator {
    background-color: #3587b5 !important;
}

.carousel .indicators .indicator-item.active {
    background-color: #3587b5;
}

.tab a:focus.active {
    background-color: rgba(178, 211, 246, 0.2) !important;
    outline: none;
}

.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: gray;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}

.stateBadge {
    margin-left: 0px !important;
    float: inherit !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    font-size: 0.9rem !important;
}

.status-pill-red {
    width: 12px;
    height: 12px;
    border-radius: 30px;
    background-color: #e65252;
    display: inline-block;
    vertical-align: middle;
}

.status-pill-green {
    width: 12px;
    height: 12px;
    border-radius: 30px;
    background-color: #5eb314;
    display: inline-block;
    vertical-align: middle;
}

.user-roal {
    color: #fff;
    margin-top: -16px;
    font-size: 13px;
    text-shadow: 1px 1px 1px #444;
}

.card-stats {
    padding-top: 12px !important;
}

.card-stats-title i {
    font-size: 1.2rem;
    top: 4px;
    position: relative;
}

.card-stats-number {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0.2rem 0 0.2rem 0;
    font-weight: 500;
}

.card-content {
    padding: 10px 14px !important;
    text-align: center;
}

.card-stats-compare i {
    position: relative;
    top: 5px;
}

.card .card-action {
    padding: 10px 14px;
}

.uppercase {
    text-transform: uppercase;
}


/* Index */

.paneParking {
    background-image: url("../../assets/img/background2.png");
    min-height: 100vh;
    min-width: 100vw;
}

.input-card {
    border-radius: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-left: 30% !important;
    margin-right: 30% !important;
}

.input {
    margin-bottom: 0px !important;
    border-bottom: 0 !important;
}

.input-div {
    margin-top: 0px;
    margin-bottom: 0px !important;
}

.prefix {
    top: 0 !important;
}

.button {
    border-radius: 1rem;
    height: 45px;
    width: 30%;
}

.icon {
    padding-top: 5px;
}

.div-button {
    margin-left: 30% !important;
    margin-right: 30% !important;
}

.send-button {
    border-radius: 1rem;
}

.blue {
    background-color: #2f90c5 !important;
}

.gray {
    color: gray !important;
}

/* Index */


/* Menu */

header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }

    .brand-logo {
        position: absolute !important;
    }
}

.blue {
    background-color: #2f90c5 !important;
}

.blue-text {
    color: #2f90c5 !important;
}

.gray-text {
    color: #696969 !important;
}

.blue-middle-text {
    color: #49c5b6 !important;
}

.blue-middle {
    background-color: #49c5b6 !important;
}

.blue-middle-light {
    background-color: #56e4d3 !important;
}

.parking-brand {
    font-size: 1.5rem !important;
    font-family: "Fjalla One";
}

.avatar {
    padding: 0px !important;
    max-width: 100% !important;
    height: auto !important;
}

.parking-container {
    width: 88%;
}


/* Menu */


/* Parking */

.input-message {
    font-size: 2em !important;
    margin-bottom: 5px !important;
}

.carousel-div {
    height: 250px;
}

.icon-size {
    font-size: 3em !important;
}

.subtitle {
    font-size: 1.2em !important;
}

.title {
    font-weight: bold;
}

.spinner-layer {
    border-color: #49c5b6 !important;
}

.resize-icon {
    font-size: 0.3rem;
}


/* Parking */