<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-10">
			<br />
			<h4 class="blue-text title  animated fadeIn fast">
				Informe de Suscripciones
			</h4>
			<br />
			<div class="card">
				<div class="card-body">
					<form>
						<div class="form-row">
							<div class="form-group col-sm-3">
								<label for="inputStartDate">Fecha Inicial</label>
								<div class="input-group min-width-input-field">
									<input type="text" class="form-control" id="inputStartDate"
										[value]="searchParameters.startDate | date: 'y-MM-dd h:mm a'" ngbDatepicker
										#d="ngbDatepicker" (dateSelect)="onDateSelect($event, 'initial')" />
									<div class="input-group-append">
										<button (click)="d.toggle()" class="btn btn-primary" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
							<!-- <div class="form-group col-sm-2">
								<label for="inputStartHour">Hora Inicial</label>
								<ngb-timepicker
									name="initialTime"
									[(ngModel)]="initialTime"
									meridian="true"
									(ngModelChange)="onChangeTime('initial')"
								></ngb-timepicker>
							</div> -->
							<div class="form-group col-sm-3">
								<label for="inputEndDate min-width-input-field">Fecha Final</label>
								<div class="input-group" id="endDate">
									<input type="text" class="form-control" id="inputEndDate"
										[value]="searchParameters.endDate | date: 'y-MM-dd h:mm a'" ngbDatepicker
										#d2="ngbDatepicker" (dateSelect)="onDateSelect($event, 'final')" />
									<div class="input-group-append">
										<button (click)="d2.toggle()" class="btn btn-primary" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</div>
									<div class="input-group-append dropdown">
										<button type="button" data-toggle="dropdown" class="btn btn-primary"
											id="dropdownMenuLink">
											<i class="fa fa-clock-o"></i>
										</button>
										<div class="dropdown-menu dropdown-menu-right"
											aria-labelledby="dropdownMenuLink">
											<div class="card-body">
												<ngb-timepicker name="finalTime" [(ngModel)]="finalTime" meridian="true"
													(ngModelChange)="onChangeTime('final')"></ngb-timepicker>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="form-group col-sm-2">
								<label for="inputEndHour">Hora Final</label>
								<ngb-timepicker
									name="finalTime"
									[(ngModel)]="finalTime"
									meridian="true"
									(ngModelChange)="onChangeTime('final')"
								></ngb-timepicker>
							</div> -->
							<button class="btn btn-primary in-form-row-btn" (click)="findSubscriptionsReport()">
								BUSCAR
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="d-flex justify-content-center" *ngIf="showProcessingIcon" style="margin-top: 4rem;">
				<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<h5 id="message" class="center gray-text" *ngIf="showInformationNotFound">
				¡No se encontró información!.
			</h5>
			<br />
			<div class="row">
				<div class="col-sm-7" *ngIf="subscriptionReport.subscriptions.length > 0">
					<div class="input-group" *ngIf="subscriptionReport.subscriptions.length > 0">
						<input type="text" id="inputFilter" class="form-control"
							aria-label="Text input with dropdown button" placeholder="Filtrar por:"
							(keyup)="onFilter($event)" />
						<div class="input-group-append">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ filterSelected }}
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" style="cursor: pointer;"
									(click)="filterSelected = 'Todos'; findSubscriptionsReport()">Todos</a>
								<a class="dropdown-item" style="cursor: pointer;" (click)="
										filterSelected = 'Activos'; findSubscriptionsReport()
									">Activos</a>
								<a class="dropdown-item" style="cursor: pointer;" (click)="
										filterSelected = 'Inactivos'; findSubscriptionsReport()
									">Inactivos</a>
							</div>
						</div>
					</div>
					<small class="form-text text-muted" *ngIf="filterText.length < 3 && filterText.length !== 0">Digite
						más de 3 caracteres para buscar.</small>
				</div>
				<div class="col-sm-5">
					<div class="btn-group float-md-right" *ngIf="subscriptionReport.subscriptions.length > 0">
						<button type="button" class="btn btn-primary btn-circle btn-circle-lg m-1"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="large material-icons" style="top: 2px;">file_download</i>
						</button>
						<div class="dropdown-menu dropdown-menu">
							<button class="dropdown-item" type="button" (click)="exportSubscriptionsToPdf()">
								PDF
							</button>
							<button class="dropdown-item" type="button" (click)="exportSubscriptionsToXls()">
								EXCEL
							</button>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div *ngIf="subscriptionReport.subscriptions.length > 0" class="table-responsive">
				<table class="table text-center">
					<thead style="cursor: pointer;">
						<tr>
							<th scope="col" (click)="onSort('created')">
								Fecha<i class="material-icons" *ngIf="
										lastSort.column === 'created' && lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'created' && lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('vehiclePlate')">
								Matrícula/Código<i class="material-icons" *ngIf="
										lastSort.column === 'vehiclePlate' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'vehiclePlate' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('start')">
								Desde<i class="material-icons" *ngIf="
										lastSort.column === 'start' && lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'start' && lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('end')">
								Hasta<i class="material-icons"
									*ngIf="lastSort.column === 'end' && lastSort.direction === 1"
									style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="lastSort.column === 'end' && lastSort.direction === -1"
									style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('subscriptionPriceName')">
								Tarifa<i class="material-icons" *ngIf="
										lastSort.column === 'subscriptionPriceName' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'subscriptionPriceName' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('quantity')">
								Cantidad<i class="material-icons" *ngIf="
										lastSort.column === 'quantity' && lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'quantity' && lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('invoiceNumber')">
								Factura<i class="material-icons" *ngIf="
										lastSort.column === 'invoiceNumber' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'invoiceNumber' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('amount')">
								Subtotal<i class="material-icons" *ngIf="
										lastSort.column === 'amount' && lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'amount' && lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('tax')">
								IVA<i class="material-icons"
									*ngIf="lastSort.column === 'tax' && lastSort.direction === 1"
									style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="lastSort.column === 'tax' && lastSort.direction === -1"
									style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('total')">
								Total<i class="material-icons" *ngIf="
										lastSort.column === 'total' && lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'total' && lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('userName')">
								Usuario<i class="material-icons" *ngIf="
										lastSort.column === 'userName' && lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'userName' && lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let subscription of subscriptionReport.subscriptions">
							<td [textContent]="subscription.created | date: 'y-MM-dd h:mm:ss'"></td>
							<td>
								{{
									subscription.additionalCode
										? subscription.vehiclePlate +
										  '/' +
										  subscription.additionalCode.slice(-3)
										: subscription.vehiclePlate
								}}
							</td>
							<td [textContent]="subscription.start | date: 'y-MM-dd h:mm:ss'"></td>
							<td [textContent]="subscription.end | date: 'y-MM-dd h:mm:ss'"></td>
							<td>
								{{ subscription.subscriptionPriceName }}
							</td>
							<td>{{ subscription.quantity }}</td>
							<td>{{ subscription.invoiceNumber }}</td>
							<td [textContent]="subscription.amount | currency: 'COP':'$'"></td>
							<td [textContent]="subscription.tax | currency: 'COP':'$'"></td>
							<td [textContent]="subscription.total | currency: 'COP':'$'"></td>
							<td>{{ subscription.userName }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h6 class="text-secondary text-center" style="font-weight:bold;margin-top: 2rem;"
				*ngIf="subscriptionReport.subscriptions.length > 0">
				Total
			</h6>
			<h5 class="text-center text-primary" style="margin-top: 0.5rem;font-weight:bold;"
				*ngIf="subscriptionReport.subscriptions.length > 0">
				{{ subscriptionReport.totalCollected | currency: 'COP':'$' }}
			</h5>

			<div class="d-flex justify-content-center" *ngIf="subscriptionReport.subscriptions.length > 0"
				style="margin-top: 2rem;">
				<ngb-pagination [collectionSize]="subscriptionReport.totalItems" [(page)]="currentPage" [maxSize]="5"
					[boundaryLinks]="true" (pageChange)="findSubscriptionsReport()">
				</ngb-pagination>
			</div>
		</div>
	</div>
</div>
