<div class="container-fluid">
	<div class="row justify-content-md-center">
		<div class="col-md-10">
			<br />
			<h4 class="blue-text title  animated fadeIn fast">
				Cambiar Contraseña
			</h4>
			<br />
			<form>
				<div class="form-group">
					<label for="currentPassword">Contraseña Actual:</label>
					<input
						name="currentPassword"
						type="password"
						class="form-control"
						id="currentPassword"
						placeholder="Contraseñe Actual"
						[(ngModel)]="userPassword.currentPassword"
					/>
				</div>
				<div class="form-group">
					<label for="newPassword">Contraseña Nueva:</label>
					<input
						name="newPassword"
						type="password"
						class="form-control"
						id="newPassword"
						placeholder="Contraseña Nueva"
						[(ngModel)]="userPassword.newPassword"
					/>
					<small
						id="newPasswordHelpCharacters"
						class="form-text text-muted"
						*ngIf="userPassword.newPassword.length < 8"
					>
						La contraseña debe ser de minímo 8 caracteres.
					</small>
					<small
						id="newPasswordHelpMatch"
						class="form-text text-muted"
						*ngIf="
							userPassword.newPassword !== userPassword.newPasswordConfirmation
						"
					>
						La contraseña no coinciden.
					</small>
				</div>
				<div class="form-group">
					<label for="currentPassword">Confirmar Contraseña Nueva:</label>
					<input
						name="newPasswordConfirmation"
						type="password"
						class="form-control"
						id="newPasswordConfirmation"
						placeholder="Confirmar Contraseña Nueva"
						[(ngModel)]="userPassword.newPasswordConfirmation"
					/>
					<small
						id="newPasswordConfirmationHelpMatch"
						class="form-text text-muted"
						*ngIf="
							userPassword.newPassword !== userPassword.newPasswordConfirmation
						"
					>
						La contraseña no coinciden.
					</small>
				</div>
				<button
					type="button"
					class="btn btn-primary"
					*ngIf="validatePassword()"
					(click)="updatePassword()"
				>
					Guardar Cambios
				</button>
			</form>
		</div>
	</div>
</div>
