<div
	class="modal"
	id="newCreditNoteModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="newCreditNoteModalTitle"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-primary" id="newCreditNoteModalTitle">
					Crear Nota de Crédito
				</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="rangePrefix">Prefijo:</label>
								<input
									type="text"
									min="1"
									class="form-control"
									id="rangePrefix"
									name="rangePrefix"
									[(ngModel)]="creditNote.rangePrefix"
								/>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="invoiceNumber">Número:</label>
								<input
									type="text"
									min="1"
									class="form-control"
									id="invoiceNumber"
									name="invoiceNumber"
									[(ngModel)]="creditNote.invoiceNumber"
								/>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="description">Concepto:</label>
								<input
									type="text"
									min="1"
									class="form-control"
									id="description"
									name="description"
									[(ngModel)]="creditNote.description"
								/>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="description">Valor:</label>
								<input
									type="number"
									min="1"
									class="form-control"
									id="description"
									name="description"
									[(ngModel)]="creditNote.total"
								/>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="customerName">Nombre:</label>
								<input
									type="text"
									min="1"
									class="form-control"
									id="customerName"
									name="customerName"
									[(ngModel)]="creditNote.customerName"
								/>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="customerIdentification">Cédula/NIT:</label>
								<input
									type="text"
									min="1"
									class="form-control"
									id="customerIdentification"
									name="customerIdentification"
									[(ngModel)]="creditNote.customerIdentification"
								/>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="customerPhone">Telefono:</label>
								<input
									type="text"
									min="1"
									class="form-control"
									id="customerPhone"
									name="customerPhone"
									[(ngModel)]="creditNote.customerPhone"
								/>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">
					Cancelar
				</button>
				<button
					type="button"
					class="btn btn-primary"
					data-dismiss="modal"
					(click)="onSave()"
					*ngIf="
						creditNote.rangePrefix &&
						creditNote.invoiceNumber &&
						creditNote.description &&
						creditNote.total &&
						creditNote.customerName &&
						creditNote.customerIdentification &&
						creditNote.customerPhone
					"
				>
					Guardar
				</button>
			</div>
		</div>
	</div>
</div>
