<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <br />
      <h4 class="blue-text title  animated fadeIn fast">
        Roles
      </h4>
      <br />
      <div class="d-flex justify-content-center" *ngIf="showLoading">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th scope="col" sortable="summary" (sort)="onSort($event)">
                Rol<i class="material-icons" *ngIf="
										lastSort.column === 'summary' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'summary' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col">
                Permisos
              </th>
              <th scope="col" sortable="state" (sort)="onSort($event)">
                Estado<i class="material-icons" *ngIf="
										lastSort.column === 'state' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'state' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="
								let user of users
									| slice
										: (page - 1) * pageSize
										: (page - 1) * pageSize + pageSize;
								index as i
							">
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>
                <div class="status-pill-green" *ngIf="user.state == 'ENABLED'">
                </div>
                <div class="status-pill-red" *ngIf="user.state == 'DISABLED'"></div>
              </td>
              <td>
                <a style="cursor: pointer;" data-toggle="tooltip" title="Editar">
                  <i class="material-icons gray-text">
                    print
                  </i>
                </a>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>

      <!-- <div class="d-flex justify-content-center" *ngIf="users">
        <ngb-pagination [collectionSize]="users.length" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true">
        </ngb-pagination>
      </div> -->

      <!-- Modal new role -->
      <div class="modal" id="newRoleModal" tabindex="-1" role="dialog" aria-labelledby="newRoleModalTitle"
        aria-hidden="true" data-backdrop='static'>
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="newRoleModalTitle">
                Crear Rol
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Cancelar
              </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="" style="position:fixed; bottom: 45px; right: 24px;">
        <button class="btn btn-primary btn-circle btn-circle-lg m-1" data-target="#newRoleModal" data-toggle="modal">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
