<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <br />
      <div class="d-flex">
        <div class="mr-auto">
          <h4 class="blue-text title  animated fadeIn fast" *ngIf="fareType === 'normal'">
            Configuración de Tarifas
          </h4>
          <h4 class="blue-text title  animated fadeIn fast" *ngIf="fareType === 'specialDate'">
            Configuración de Tarifas Especiales
          </h4>
        </div>
        <div>
          <div class="form-row">
            <div class="form-group col min-width-input-field">
              <label for="config" class="col-form-label">Configuración</label>
              <select class="custom-select" id="config" name="config" [(ngModel)]="configuration"
                (change)="onSelectConfig()">
                <option *ngFor="let config of configurations" [value]="config.value">
                  {{ config.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xl-6 mb-4" *ngFor="let fareConfiguration of fareConfigurations; index as i">
          <div class="card">
            <div class="card-body px-4">
              <div class="d-flex">
                <div class="mr-auto">
                  <span class="title-text" (click)="fareConfiguration.editName = !fareConfiguration.editName"
                    *ngIf="!fareConfiguration.editName">{{ fareConfiguration.name }}</span>
                  <div class="input-group">
                    <input type="text" class="form-control title-text" *ngIf="fareConfiguration.editName"
                      [(ngModel)]="fareConfiguration.name" (keyup.enter)="onEditName(fareConfiguration)" />
                  </div>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px; cursor: pointer;">save</i>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" [attr.href]="'#collapseVariableTime'+i" role="button"
              aria-expanded="false" aria-controls="collapseOne" style="cursor: pointer;" [id]="'VariableTime'+i">
              <div class="d-flex">
                <div class="mr-auto">
                  <h5>Tiempo Variable</h5>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px;">arrow_drop_down</i>
                </div>
              </div>
            </div>
            <div [id]="'collapseVariableTime'+i" class="collapse" aria-labelledby="headingOne"
              [attr.data-parent]="'#VariableTime'+i">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-condensed" style="margin-bottom: 0;">
                    <thead>
                      <tr>
                        <th scope="col" (click)="onSort('minuteFrom', fareConfiguration, 'variableTimeFare' )"
                          style="cursor: pointer;">
                          Desde<i class="material-icons" *ngIf="
                          fareConfiguration.variableTimeFareSort === 'minuteFrom' &&
                          fareConfiguration.variableTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.variableTimeFareSort === 'minuteFrom' &&
                          fareConfiguration.variableTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('minuteTo', fareConfiguration, 'variableTimeFare' )"
                          style="cursor: pointer;">
                          hasta<i class="material-icons" *ngIf="
                          fareConfiguration.variableTimeFareSort === 'minuteTo' &&
                          fareConfiguration.variableTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.variableTimeFareSort === 'minuteTo' &&
                          fareConfiguration.variableTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('value', fareConfiguration, 'variableTimeFare')"
                          style="cursor: pointer;">
                          Valor<i class="material-icons" *ngIf="
                          fareConfiguration.variableTimeFareSort === 'value' &&
                          fareConfiguration.variableTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.variableTimeFareSort === 'value' &&
                          fareConfiguration.variableTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('vehicleTypeId', fareConfiguration, 'variableTimeFare')"
                          style="cursor: pointer;">
                          Tipo vehículo<i class="material-icons" *ngIf="
                          fareConfiguration.variableTimeFareSort === 'vehicleTypeId' &&
                          fareConfiguration.variableTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.variableTimeFareSort === 'vehicleTypeId' &&
                          fareConfiguration.variableTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('state', fareConfiguration, 'variableTimeFare')"
                          style="cursor: pointer;">
                          Estado<i class="material-icons" *ngIf="
                          fareConfiguration.variableTimeFareSort === 'state' &&
                          fareConfiguration.variableTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.variableTimeFareSort === 'state' &&
                          fareConfiguration.variableTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
								let variableTimeFare of fareConfiguration.variableTimeFares
								| slice
										: (fareConfiguration.variableTimeFarePage - 1) * pageSize
										: (fareConfiguration.variableTimeFarePage - 1) * pageSize + pageSize;">
                        <td>
                          <input type="number" class="form-control" [(ngModel)]="variableTimeFare.minuteFrom"
                            placeholder="Min" aria-label="From" aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <input type="number" class="form-control" [(ngModel)]="variableTimeFare.minuteTo"
                            placeholder="Min" aria-label="To" aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <input type="number" class="form-control" placeholder="0" [(ngModel)]="variableTimeFare.value"
                            aria-label="Value" aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <select class="custom-select" [(ngModel)]="variableTimeFare.vehicleTypeId">
                            <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.value">
                              {{ vehicleType.name }}</option>
                          </select>
                        </td>
                        <td>
                          <i class="material-icons text-danger" style="cursor: pointer; font-size: 40px;"
                            *ngIf="variableTimeFare.state === 'DISABLED'"
                            (click)="onChangeState(variableTimeFare)">toggle_off</i>
                          <i class="material-icons text-success" style="cursor: pointer; font-size: 40px;"
                            *ngIf="variableTimeFare.state === 'ENABLED'"
                            (click)="onChangeState(variableTimeFare)">toggle_on</i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="number" class="form-control"
                            [(ngModel)]="fareConfiguration.variableTimeFare.minuteFrom" placeholder="Min"
                            aria-label="From" aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <input type="number" class="form-control"
                            [(ngModel)]="fareConfiguration.variableTimeFare.minuteTo" placeholder="Min" aria-label="To"
                            aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <input type="number" class="form-control" placeholder="0"
                            [(ngModel)]="fareConfiguration.variableTimeFare.value" aria-label="Value"
                            aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <select class="custom-select" [(ngModel)]="fareConfiguration.variableTimeFare.vehicleTypeId">
                            <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.value">
                              {{ vehicleType.name }}</option>
                          </select>
                        </td>
                        <td>
                          <i class="material-icons text-primary" style="cursor: pointer; font-size: 30px;"
                            (click)="onAddVariableTime(fareConfiguration)">add_circle</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex justify-content-center"
                  *ngIf="fareConfiguration.variableTimeFares.length > pageSize">
                  <ngb-pagination [collectionSize]="fareConfiguration.variableTimeFares.length"
                    [(page)]="fareConfiguration.variableTimeFarePage" [pageSize]="pageSize">
                  </ngb-pagination>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" [attr.href]="'#collapseConstantTime'+i" role="button"
              aria-expanded="false" aria-controls="collapseOne" style="cursor: pointer;" [id]="'ConstantTime'+i">
              <div class="d-flex">
                <div class="mr-auto">
                  <h5>Tiempo Constante</h5>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px; cursor: pointer;">arrow_drop_down</i>
                </div>
              </div>
            </div>
            <div [id]="'collapseConstantTime'+i" class="collapse" aria-labelledby="headingOne"
              [attr.data-parent]="'#ConstantTime'+i">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-condensed" style="margin-bottom: 0;">
                    <thead>
                      <tr>
                        <th scope="col" (click)="onSort('minuteFrom', fareConfiguration, 'constantTimeFare' )"
                          style="cursor: pointer;">
                          Desde<i class="material-icons" *ngIf="
                          fareConfiguration.constantTimeFareSort === 'minuteFrom' &&
                          fareConfiguration.constantTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.constantTimeFareSort === 'minuteFrom' &&
                          fareConfiguration.constantTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('frame', fareConfiguration, 'constantTimeFare' )"
                          style="cursor: pointer;">
                          Se cobra cada<i class="material-icons" *ngIf="
                          fareConfiguration.constantTimeFareSort === 'frame' &&
                          fareConfiguration.constantTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.constantTimeFareSort === 'frame' &&
                          fareConfiguration.constantTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('value', fareConfiguration, 'constantTimeFare' )"
                          style="cursor: pointer;">
                          Valor<i class="material-icons" *ngIf="
                          fareConfiguration.constantTimeFareSort === 'value' &&
                          fareConfiguration.constantTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.constantTimeFareSort === 'value' &&
                          fareConfiguration.constantTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('vehicleTypeId', fareConfiguration, 'constantTimeFare' )"
                          style="cursor: pointer;">
                          Tipo de vehículo<i class="material-icons" *ngIf="
                          fareConfiguration.constantTimeFareSort === 'vehicleTypeId' &&
                          fareConfiguration.constantTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.constantTimeFareSort === 'vehicleTypeId' &&
                          fareConfiguration.constantTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('state', fareConfiguration, 'constantTimeFare')"
                          style="cursor: pointer;">
                          Estado<i class="material-icons" *ngIf="
                          fareConfiguration.constantTimeFareSort === 'state' &&
                          fareConfiguration.constantTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.constantTimeFareSort === 'state' &&
                          fareConfiguration.constantTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
								let constantTimeFare of fareConfiguration.constantTimeFares
								| slice
										: (fareConfiguration.constantTimeFarePage - 1) * pageSize
                    : (fareConfiguration.constantTimeFarePage - 1) * pageSize + pageSize;">
                        <td>
                          <input type="number" class="form-control" [(ngModel)]="constantTimeFare.minuteFrom"
                            placeholder="Min" aria-label="From" aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <input type="number" class="form-control" [(ngModel)]="constantTimeFare.frame"
                            placeholder="Min" aria-label="Frame" aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <input type="number" class="form-control" [(ngModel)]="constantTimeFare.value" placeholder="0"
                            aria-label="Value" aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <select class="custom-select" [(ngModel)]="constantTimeFare.vehicleTypeId">
                            <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.value">
                              {{ vehicleType.name }}</option>
                          </select>
                        </td>
                        <td>
                          <i class="material-icons text-danger" style="cursor: pointer; font-size: 40px;"
                            *ngIf="constantTimeFare.state === 'DISABLED'"
                            (click)="onChangeState(constantTimeFare)">toggle_off</i>
                          <i class="material-icons text-success" style="cursor: pointer; font-size: 40px;"
                            *ngIf="constantTimeFare.state === 'ENABLED'"
                            (click)="onChangeState(constantTimeFare)">toggle_on</i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="number" class="form-control"
                            [(ngModel)]="fareConfiguration.constantTimeFare.minuteFrom" placeholder="Min"
                            aria-label="From" aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <input type="number" class="form-control"
                            [(ngModel)]="fareConfiguration.constantTimeFare.frame" placeholder="Min" aria-label="Frame"
                            aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <div class="input-group">
                            <input type="number" class="form-control"
                              [(ngModel)]="fareConfiguration.constantTimeFare.value" placeholder="Min" aria-label="From"
                              aria-describedby="basic-addon1">
                          </div>
                        </td>
                        <td>
                          <div class="input-group">
                            <select class="custom-select"
                              [(ngModel)]="fareConfiguration.constantTimeFare.vehicleTypeId">
                              <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.value">
                                {{ vehicleType.name }}</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <i class="material-icons text-primary" style="cursor: pointer; font-size: 30px;"
                            (click)="onAddConstantFare(fareConfiguration)">add_circle</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex justify-content-center"
                  *ngIf="fareConfiguration.constantTimeFares.length > pageSize">
                  <ngb-pagination [collectionSize]="fareConfiguration.constantTimeFares.length"
                    [(page)]="fareConfiguration.constantTimeFarePage" [pageSize]="pageSize">
                  </ngb-pagination>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" [attr.href]="'#collapseExpiredTime'+i" role="button"
              aria-expanded="false" aria-controls="collapseOne" style="cursor: pointer;" [id]="'ExpiredTime'+i">
              <div class="d-flex">
                <div class="mr-auto">
                  <h5>Tiempo Vencido</h5>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px;">arrow_drop_down</i>
                </div>
              </div>
            </div>
            <div [id]="'collapseExpiredTime'+i" class="collapse" aria-labelledby="headingOne"
              [attr.data-parent]="'#ExpiredTime'+i">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-condensed" style="margin-bottom: 0;">
                    <thead>
                      <tr>
                        <th scope="col" (click)="onSort('frame', fareConfiguration, 'expiredTimeFare' )"
                          style="cursor: pointer;">
                          Se cobra cada<i class="material-icons" *ngIf="
                          fareConfiguration.expiredTimeFareSort === 'frame' &&
                          fareConfiguration.expiredTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.expiredTimeFareSort === 'frame' &&
                          fareConfiguration.expiredTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('value', fareConfiguration, 'expiredTimeFare' )"
                          style="cursor: pointer;">
                          Valor<i class="material-icons" *ngIf="
                          fareConfiguration.expiredTimeFareSort === 'value' &&
                          fareConfiguration.expiredTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.expiredTimeFareSort === 'value' &&
                          fareConfiguration.expiredTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('vehicleTypeId', fareConfiguration, 'expiredTimeFare' )"
                          style="cursor: pointer;">
                          Tipo de vehículo<i class="material-icons" *ngIf="
                          fareConfiguration.expiredTimeFareSort === 'vehicleTypeId' &&
                          fareConfiguration.expiredTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.expiredTimeFareSort === 'vehicleTypeId' &&
                          fareConfiguration.expiredTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('state', fareConfiguration, 'expiredTimeFare')"
                          style="cursor: pointer;">
                          Estado<i class="material-icons" *ngIf="
                          fareConfiguration.expiredTimeFareSort === 'state' &&
                          fareConfiguration.expiredTimeFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.expiredTimeFareSort === 'state' &&
                          fareConfiguration.expiredTimeFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
								let expiredTimeFare of fareConfiguration.expiredTimeFares
								| slice
										: (fareConfiguration.expiredTimeFarePage - 1) * pageSize
                    : (fareConfiguration.expiredTimeFarePage - 1) * pageSize + pageSize;">
                        <td>
                          <input type="number" class="form-control" [(ngModel)]="expiredTimeFare.frame"
                            placeholder="Min" aria-label="Frame" aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <input type="number" class="form-control" [(ngModel)]="expiredTimeFare.value"
                            placeholder="Min" aria-label="From" aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <select class="custom-select" [(ngModel)]="expiredTimeFare.vehicleTypeId">
                            <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.value">
                              {{ vehicleType.name }}</option>
                          </select>
                        </td>
                        <td>
                          <i class="material-icons text-danger" style="cursor: pointer; font-size: 40px;"
                            *ngIf="expiredTimeFare.state === 'DISABLED'"
                            (click)="onChangeState(expiredTimeFare)">toggle_off</i>
                          <i class="material-icons text-success" style="cursor: pointer; font-size: 40px;"
                            *ngIf="expiredTimeFare.state === 'ENABLED'"
                            (click)="onChangeState(expiredTimeFare)">toggle_on</i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="number" class="form-control"
                            [(ngModel)]="fareConfiguration.expiredTimeFare.frame" placeholder="Min" aria-label="Frame"
                            aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <input type="number" class="form-control"
                            [(ngModel)]="fareConfiguration.expiredTimeFare.value" placeholder="Min" aria-label="From"
                            aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <select class="custom-select" [(ngModel)]="fareConfiguration.expiredTimeFare.vehicleTypeId">
                            <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.value">
                              {{ vehicleType.name }}</option>
                          </select>
                        </td>
                        <td>
                          <i class="material-icons text-primary" style="cursor: pointer; font-size: 30px;"
                            (click)="onAddExpirationFare(fareConfiguration)">add_circle</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex justify-content-center" *ngIf="fareConfiguration.expiredTimeFares.length > pageSize">
                  <ngb-pagination [collectionSize]="fareConfiguration.expiredTimeFares.length"
                    [(page)]="fareConfiguration.expiredTimeFarePage" [pageSize]="pageSize">
                  </ngb-pagination>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" [attr.href]="'#collapseAgreements'+i" role="button"
              aria-expanded="false" aria-controls="collapseOne" style="cursor: pointer;" [id]="'Agreements'+i">
              <div class="d-flex">
                <div class="mr-auto">
                  <h5>Convenios</h5>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px;">arrow_drop_down</i>
                </div>
              </div>
            </div>
            <div [id]="'collapseAgreements'+i" class="collapse" aria-labelledby="headingOne"
              [attr.data-parent]="'#Agreements'+i">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-condensed" style="margin-bottom: 0;">
                    <thead>
                      <tr>
                        <th scope="col" (click)="onSort('agreementId', fareConfiguration, 'agreementsFare' )"
                          style="cursor: pointer;">
                          Nombre<i class="material-icons" *ngIf="
                          fareConfiguration.agreementsFareSort === 'agreementId' &&
                          fareConfiguration.agreementsFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.agreementsFareSort === 'agreementId' &&
                          fareConfiguration.agreementsFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('minuteTo', fareConfiguration, 'agreementsFare' )"
                          style="cursor: pointer;">
                          Tiempo<i class="material-icons" *ngIf="
                          fareConfiguration.agreementsFareSort === 'minuteTo' &&
                          fareConfiguration.agreementsFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.agreementsFareSort === 'minuteTo' &&
                          fareConfiguration.agreementsFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('vehicleTypeId', fareConfiguration, 'agreementsFare')"
                          style="cursor: pointer;">
                          Tipo vehículo<i class="material-icons" *ngIf="
                          fareConfiguration.agreementsFareSort === 'vehicleTypeId' &&
                          fareConfiguration.agreementsFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.agreementsFareSort === 'vehicleTypeId' &&
                          fareConfiguration.agreementsFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                        <th scope="col" (click)="onSort('state', fareConfiguration, 'agreementsFare')"
                          style="cursor: pointer;">
                          Estado<i class="material-icons" *ngIf="
                          fareConfiguration.agreementsFareSort === 'state' &&
                          fareConfiguration.agreementsFareOrder === 1
                        " style="vertical-align: bottom;">arrow_drop_down</i>
                          <i class="material-icons" *ngIf="
                          fareConfiguration.agreementsFareSort === 'state' &&
                          fareConfiguration.agreementsFareOrder === -1
                        " style="vertical-align: bottom;">arrow_drop_up</i>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
								let agreementFare of fareConfiguration.agreementsFares
								| slice
										: (fareConfiguration.agreementsFarePage - 1) * pageSize
										: (fareConfiguration.agreementsFarePage - 1) * pageSize + pageSize;">
                        <td>
                          <select class="custom-select" [(ngModel)]="agreementFare.agreementId">
                            <option *ngFor="let agreement of agreementList" [value]="agreement.id">
                              {{ agreement.name }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <input type="number" class="form-control" [(ngModel)]="agreementFare.minuteTo"
                            placeholder="Min" aria-label="minuteTo" aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <select class="custom-select" [(ngModel)]="agreementFare.vehicleTypeId">
                            <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.value">
                              {{ vehicleType.name }}</option>
                          </select>
                        </td>
                        <td>
                          <i class="material-icons text-danger" style="cursor: pointer; font-size: 40px;"
                            *ngIf="agreementFare.state === 'DISABLED'"
                            (click)="onChangeState(agreementFare)">toggle_off</i>
                          <i class="material-icons text-success" style="cursor: pointer; font-size: 40px;"
                            *ngIf="agreementFare.state === 'ENABLED'"
                            (click)="onChangeState(agreementFare)">toggle_on</i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <select class="custom-select" [(ngModel)]="fareConfiguration.agreementFare.agreementId">
                            <option *ngFor="let agreement of agreementList" [value]="agreement.id">
                              {{ agreement.name }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <input type="number" class="form-control"
                            [(ngModel)]="fareConfiguration.agreementFare.minuteTo" placeholder="Min" aria-label="To"
                            aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <select class="custom-select" [(ngModel)]="fareConfiguration.agreementFare.vehicleTypeId">
                            <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.value">
                              {{ vehicleType.name }}</option>
                          </select>
                        </td>
                        <td>
                          <i class="material-icons text-primary" style="cursor: pointer; font-size: 30px;"
                            (click)="onAddAgreement(fareConfiguration)">add_circle</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex justify-content-center" *ngIf="fareConfiguration.agreementsFares.length > pageSize">
                  <ngb-pagination [collectionSize]="fareConfiguration.agreementsFares.length"
                    [(page)]="fareConfiguration.agreementsFarePage" [pageSize]="pageSize">
                  </ngb-pagination>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" [attr.href]="'#collapseSchedule'+i" role="button"
              aria-expanded="false" aria-controls="collapseOne" style="cursor: pointer;" [id]="'Schedule'+i">
              <div class="d-flex">
                <div class="mr-auto">
                  <h5>Horario</h5>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px;">arrow_drop_down</i>
                </div>
              </div>
            </div>
            <div [id]="'collapseSchedule'+i" class="collapse" aria-labelledby="headingOne"
              [attr.data-parent]="'#Schedule'+i">
              <div class="card-body">
                <div class="row" *ngFor="let item of fareConfiguration.schedulesId">
                  <div class="col-11">
                    <div class="form-group col min-width-input-field">
                      <div class="input-group">
                        <select class="custom-select">
                          <option>Horario</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-11">
                    <div class="form-group col min-width-input-field">
                      <div class="input-group">
                        <select class="custom-select">
                          <option>Horario</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-1 d-flex justify-content-end">
                    <i class="material-icons text-primary" style="cursor: pointer; font-size: 30px;"
                      (click)="onAddSchedule(fareConfiguration)">add_circle</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" data-toggle="collapse" [attr.href]="'#collapseConfiguration'+i" role="button"
              aria-expanded="false" aria-controls="collapseOne" style="cursor: pointer;" [id]="'Configuration'+i">
              <div class="d-flex">
                <div class="mr-auto">
                  <h5>Configuración</h5>
                </div>
                <div>
                  <i class="material-icons" style="font-size: 35px;">arrow_drop_down</i>
                </div>
              </div>
            </div>
            <div [id]="'collapseConfiguration'+i" class="collapse" aria-labelledby="headingOne"
              [attr.data-parent]="'#Configuration'+i">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col min-width-input-field">
                    <label for="paymentTypeId">Tipo de Pago</label>
                    <div class="input-group">
                      <select class="custom-select" id="paymentTypeId" name="paymentTypeId"
                        [value]="fareConfiguration.paymentTypeId">
                        <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.id">{{ paymentType.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal new schedule -->
      <div class="modal" id="newFareModal" tabindex="-1" role="dialog" aria-labelledby="newSubscriptionModalTitle"
        aria-hidden="true" data-backdrop='static'>
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="newSubscriptionModalTitle">
                Nueva Tarifa
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="nameFare">Nombre:</label>
                      <input type="text" class="form-control" id="nameFare" name="nameFare" [(ngModel)]="newFareName" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group col min-width-input-field">
                      <label for="inputStartDate">Basado en:</label>
                      <div class="input-group">
                        <select class="custom-select" [(ngModel)]="baseOnFare">
                          <option *ngFor="let fareConf of fareConfigurations" [value]="fareConf">
                            {{ fareConf.name }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Cancelar
              </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="newFareName"
                (click)="onCreateFare()">
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="" style="position:fixed; bottom: 45px; right: 24px;">
        <button class="btn btn-primary btn-circle btn-circle-lg m-1" data-target="#newFareModal" data-toggle="modal">
          <i class="fa fa-plus"></i>
        </button>
      </div>

    </div>
  </div>
</div>
