<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-10">
			<br />
			<h4 class="blue-text title  animated fadeIn fast">
				Informe Financiero
			</h4>
			<br />
			<div class="card">
				<div class="card-body">
					<form>
						<div class="form-row">
							<div class="form-group col-sm-2">
								<label for="inputStartDate">Fecha Inicial</label>
								<div class="input-group">
									<input type="text" class="form-control" id="inputStartDate"
										[value]="searchParameters.startDate | date: 'y-MM-dd'" ngbDatepicker
										#d="ngbDatepicker" (dateSelect)="onDateSelect($event, 'initial')" />
									<div class="input-group-append">
										<button (click)="d.toggle()" class="btn btn-primary" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
							<!-- <div class="form-group col-sm-2">
								<label for="inputStartHour">Hora Inicial</label>
								<ngb-timepicker
									name="initialTime"
									[(ngModel)]="initialTime"
									meridian="true"
									(ngModelChange)="onChangeTime('initial')"
								></ngb-timepicker>
							</div> -->
							<div class="form-group col-sm-2">
								<label for="inputEndDate">Fecha Final</label>
								<div class="input-group">
									<input type="text" class="form-control" id="inputEndDate"
										[value]="searchParameters.endDate | date: 'y-MM-dd'" ngbDatepicker
										#d2="ngbDatepicker" (dateSelect)="onDateSelect($event, 'final')" />
									<div class="input-group-append">
										<button (click)="d2.toggle()" class="btn btn-primary" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
							<!-- <div class="form-group col-sm-2">
								<label for="inputEndHour">Hora Final</label>
								<ngb-timepicker
									name="finalTime"
									[(ngModel)]="finalTime"
									meridian="true"
									(ngModelChange)="onChangeTime('final')"
								></ngb-timepicker>
							</div> -->
							<button class="btn btn-primary in-form-row-btn" (click)="findFinancialReport()">
								BUSCAR
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="d-flex justify-content-center" *ngIf="showProcessingIcon" style="margin-top: 4rem;">
				<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<h5 id="message" class="center gray-text" *ngIf="showInformationNotFound">
				¡No se encontró información!.
			</h5>
			<br />
			<div class="row">
				<div class="col-sm-7">
					<div class="form-group" *ngIf="financialReport.payments.length > 0">
						<input id="inputFilter" type="text" class="form-control" placeholder="Filtrar por:"
							[(ngModel)]="filterText" (keyup)="onFilter($event)" />
						<small class="form-text text-muted"
							*ngIf="filterText.length < 3 && filterText.length !== 0">Digite más de 3 caracteres para
							buscar.</small>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="btn-group float-md-right" *ngIf="financialReport.payments.length > 0">
						<button type="button" class="btn btn-primary btn-circle btn-circle-lg m-1"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="large material-icons" style="top: 2px;">file_download</i>
						</button>
						<div class="dropdown-menu dropdown-menu">
							<button class="dropdown-item" type="button" (click)="exportFinancialReportToPdf()">
								PDF
							</button>
							<button class="dropdown-item" type="button" (click)="exportFinancialReportToXls()">
								EXCEL
							</button>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="financialReport.payments.length > 0" class="table-responsive">
				<table class="table text-center">
					<thead style="cursor: pointer;">
						<tr>
							<th scope="col" (click)="onSort('created')">
								Fecha<i class="material-icons" *ngIf="
										lastSort.column === 'created' && lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'created' && lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('invoiceNumber')">
								No. Factura<i class="material-icons" *ngIf="
										lastSort.column === 'invoiceNumber' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'invoiceNumber' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('userName')">
								Usuario<i class="material-icons" *ngIf="
										lastSort.column === 'userName' && lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'userName' && lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('vehicleType')">
								Tipo de Vehículo<i class="material-icons" *ngIf="
										lastSort.column === 'vehicleType' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'vehicleType' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('vehiclePlate')">
								Matrícula<i class="material-icons" *ngIf="
										lastSort.column === 'vehiclePlate' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'vehiclePlate' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('parkingTime')">
								Tiempo<i class="material-icons" *ngIf="
										lastSort.column === 'parkingTime' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'parkingTime' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('serviceName')">
								Tarifa<i class="material-icons" *ngIf="
										lastSort.column === 'serviceName' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'serviceName' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
							<th scope="col" (click)="onSort('roundedTotal')">
								Total<i class="material-icons" *ngIf="
										lastSort.column === 'roundedTotal' &&
										lastSort.direction === 1
									" style="vertical-align: bottom;">arrow_drop_down</i>
								<i class="material-icons" *ngIf="
										lastSort.column === 'roundedTotal' &&
										lastSort.direction === -1
									" style="vertical-align: bottom;">arrow_drop_up</i>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let payment of financialReport.payments">
							<td [textContent]="payment.created | date: 'y-MM-dd h:mm:ss'"></td>
							<td>{{ payment.invoiceNumber }}</td>
							<td>{{ payment.userName }}</td>
							<td>
								<i class="medium material-icons gray-text"
									*ngIf="payment.vehicleType == 'CAR'">directions_car</i>
								<i class="medium material-icons gray-text"
									*ngIf="payment.vehicleType == 'MOTORCYCLE'">motorcycle</i>
								<i class="medium material-icons gray-text"
									*ngIf="payment.vehicleType == 'BICYCLE'">directions_bike</i>
								<i class="medium material-icons gray-text"
									*ngIf="payment.vehicleType == 'PUBLIC'">local_taxi</i>
								<i class="medium material-icons gray-text"
									*ngIf="payment.vehicleType == 'TRUCK'">local_shipping</i>
							</td>
							<td>{{ payment.vehiclePlate }}</td>
							<td>
								{{ payment.parkingTime }}
							</td>
							<td>{{ payment.serviceName }}</td>
							<td [textContent]="payment.roundedTotal | currency: 'COP':'$'"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<h6 class="text-secondary text-center" style="font-weight:bold;margin-top: 2rem;"
				*ngIf="financialReport.payments.length > 0">
				Total
			</h6>
			<h5 class="text-center text-primary" style="margin-top: 0.5rem;font-weight:bold;"
				*ngIf="financialReport.payments.length > 0">
				{{ financialReport.totalCollected | currency: 'COP':'$' }}
			</h5>

			<div class="d-flex justify-content-center" *ngIf="financialReport.payments.length > 0"
				style="margin-top: 2rem;">
				<ngb-pagination [collectionSize]="financialReport.totalItems" [(page)]="currentPage" [maxSize]="5"
					[boundaryLinks]="true" (pageChange)="findFinancialReport()">
				</ngb-pagination>
			</div>
		</div>
	</div>
</div>
