<div class="container-fluid">
	<div class="row justify-content-md-center">
		<div class="col-md-10">
			<br />
			<h4 class="blue-text title  animated fadeIn fast">
				Preguntas Frecuentes
			</h4>
			<br />
			<div id="accordion">
				<div class="card">
					<div
						class="card-header"
						data-toggle="collapse"
						href="#collapseOne"
						style="cursor: pointer"
					>
						<a class="card-link">
							<i class="material-icons gray faqs-icon">apps</i>
							<a class="gray-text" style="font-weight: 500">Aplicación</a>
						</a>
					</div>
					<div id="collapseOne" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong>¿Por qué no ingresa a la aplicación?</strong></a
							><br />
							<span class="gray-text"
								>Puede ser por dos factores, fallas con la conexión a Internet o
								problemas de autenticación. verifique la conexión de red y
								compruebe que está conectado a Internet. Si el dispositivo tiene
								conexión a Internet y continúa sin ingresar a la aplicación
								contacte a nuestra área de soporte técnico para brindarle de una
								solución.
							</span>
							<br />
							<br />
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong
									>¿Cómo se actualiza la app de Parking Mobile?</strong
								></a
							><br />
							<span class="gray-text"
								>Ingrese a la App Store y verifique que haya una actualización
								disponible, si la hay oprima el botón de actualizar. Debe
								revisar periódicamente la App Store en busca de actualizaciones.
							</span>
						</div>
					</div>
				</div>

				<div class="card">
					<div
						class="card-header"
						data-toggle="collapse"
						href="#collapseTwo"
						style="cursor: pointer"
					>
						<a class="collapsed card-link">
							<i class="material-icons gray faqs-icon">smartphone</i>
							<a class="gray-text" style="font-weight: 500">Equipo</a>
						</a>
					</div>
					<div id="collapseTwo" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong
									>¿Cómo puedo validar el correcto funcionamiento del
									equipo?</strong
								></a
							><br />
							<span class="gray-text"
								>En el dispositivo, ingrese a la app POS Steward, y presione el
								botón Go Testing, vuelva a presionarlo para que realice el test
								de los componentes del datáfono. Al finalizar el test se
								mostrará un informe; si todos los items tienen al lado derecho
								un círculo de color verde con una marca de verificación es
								porque el dispositivo está funcionando correctamente.
								Adicionalmente puede realizar pruebas de impresión, scanner,
								monitor y Touch Screen en la pestaña Aided seleccionando cada
								una de las opciones.
							</span>
							<br />
							<br />
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong
									>¿Cómo puedo saber si mi equipo está conectado a
									internet?</strong
								></a
							><br />
							<span class="gray-text"
								>En el dispositivo, ingrese a la app POS Steward y en la opción
								Network, valide que tanto la dirección IP local (Inner IP) como
								la dirección IP pública (Outer IP) tengan un número. Si se
								encuentra conectado a la red y tiene dirección IP asignada pero
								continúa sin conexión, realice el Network Stability Test para
								verificar si se están presentando pérdidas de datos. No se
								debería mostrar valores en la opción unconnected, solo deben
								aparecer dígitos en la opción connected.
							</span>
							<span
								class="blue-text modal-trigger"
								data-target="#imageModalInternet"
								data-toggle="modal"
								style="cursor:pointer"
							>
								Ver ejemplo
							</span>
							<br />
							<br />
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong>¿Cómo se habilita el acceso remoto?</strong></a
							><br />
							<span class="gray-text"
								>En la pantalla del equipo se habilita la opción Remote
								Assistance. Al habilitar esta opción, nuestro equipo de soporte
								técnico de Ideamos Mas puede monitorear y verificar remotamente
								fallas en el sistema.
							</span>
						</div>
					</div>
				</div>

				<div class="card">
					<div
						class="card-header"
						data-toggle="collapse"
						href="#collapseThree"
						style="cursor: pointer"
					>
						<a class="collapsed card-link">
							<i class="material-icons gray faqs-icon">local_printshop</i>
							<a class="gray-text" style="font-weight: 500">Impresión</a>
						</a>
					</div>
					<div id="collapseThree" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong>¿Por qué el tiquete sale en blanco?</strong></a
							><br />
							<span class="gray-text"
								>Debe verificar que el papel térmico esté instalado
								correctamente, es decir, el lado térmico debe estar en la
								posición adecuada.
							</span>
							<br />
							<br />
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong
									>¿Cual es el tamaño adecuado del papel que utiliza la
									impresora de los datáfonos?</strong
								></a
							><br />
							<span class="gray-text">58mm x 10Mts o 58mm x 18 Mts. </span>
							<br />
							<br />
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong>¿Por qué no imprime la factura?</strong> </a
							><br />
							<span class="gray-text"
								>Puede que se haya desactivado el Bluetooth, si está activado y
								aun no imprime puede ser un daño en la impresora, en este caso
								contacte al area de soporte de nuestra empresa.
							</span>
						</div>
					</div>
				</div>

				<div class="card">
					<div
						class="card-header"
						data-toggle="collapse"
						href="#collapseFour"
						style="cursor: pointer"
					>
						<a class="collapsed card-link">
							<i class="material-icons gray faqs-icon">crop_free</i>
							<a class="gray-text" style="font-weight: 500"
								>Lectura del código QR</a
							>
						</a>
					</div>
					<div id="collapseFour" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong
									>¿Por qué el datáfono no lee el código QR del tiquete?</strong
								></a
							><br />
							<span class="gray-text"
								>Puede deberse a problemas con la iluminación o suciedad en el
								lente del datáfono, verifique estos dos factores además de
								revisar el estado de la impresión del tiquete.
							</span>
						</div>
					</div>
				</div>

				<div class="card">
					<div
						class="card-header"
						data-toggle="collapse"
						href="#collapseFive"
						style="cursor: pointer"
					>
						<a class="collapsed card-link">
							<i class="material-icons gray faqs-icon">crop_portrait</i>
							<a class="gray-text" style="font-weight: 500">Pantalla</a>
						</a>
					</div>
					<div id="collapseFive" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong>
									¿Por qué la pantalla se queda congelada?</strong
								></a
							><br />
							<span class="gray-text"
								>Este problema puede estar asociado a una falla de envío de
								paquetes, en este caso debe contactar a su proveedor de servicio
								de internet o al personal de soporte de red de su empresa si es
								el caso para hacer seguimiento.
							</span>
							<br />
							<br />
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong>¿Por qué se bloquea la pantalla?</strong> </a
							><br />
							<span class="gray-text"
								>El dispositivo se bloquea después de 50 segundos de estar sin
								uso para ahorrar batería.
							</span>
							<br />
							<br />
							<a class="blue-text"
								><i class="material-icons resize-icon">brightness_1</i
								>&nbsp;<strong>¿Cómo se calibra el Touch Screen?</strong></a
							><br />
							<span class="gray-text"
								>Ingrese a la app POS Steward y en en la opción Go Testing
								seleccione Aided, luego la opción Touch Screen y finalmente
								Start Testing, allí pruebe escribir o dibujar líneas en la
								pantalla para ver el funcionamiento de esta.
							</span>
						</div>
					</div>
				</div>
			</div>
			<br />
			<h6 class="gray-text animated fadeIn fast">
				Si cualquier falla persiste le agradecemos contactarse con nuestra
				<a href="https://www.ideamosmas.com/contact.html">
					área de soporte técnico</a
				>
				para brindarle una solución oportuna a su problema.
				<a href="#" data-target="slide-out" class="sidenav-trigger"></a>
			</h6>
		</div>
	</div>
</div>

<!-- Modal -->
<div
	class="modal fade"
	id="imageModalInternet"
	tabindex="-1"
	role="dialog"
	aria-labelledby="imageModalInternetTitle"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<img
					class="mx-auto d-block"
					width="300"
					src="../../assets/img/example-faqs.png"
				/>
			</div>
		</div>
	</div>
</div>
