<nav id="sidebar">
	<div class="sidebar-header">
		<app-user-information [userInformation]="userInformation" [selectedParking]="selectedParking">
		</app-user-information>
	</div>
	<ul class="list-unstyled components">
		<li *ngFor="let menuItem of menuItems" class="{{ menuItem.class }}">
			<a href="#{{ menuItem.title }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
				<i class="material-icons sidebar-icon">{{ menuItem.icon }}</i>{{ menuItem.title }}
			</a>
			<ul class="collapse list-unstyled" id="{{ menuItem.title }}">
				<li *ngFor="let subItem of menuItem.subItems">
					<a [routerLink]="[subItem.path]">
						{{ subItem.title }}
					</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
