<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <br />
      <h4 class="blue-text title  animated fadeIn fast">
        Convenios
      </h4>
      <br />
      <div class="input-group col-sm-7">
        <input type="text" class="form-control" placeholder="Filtrar por:" (keyup)="onFilter($event.target.value)" />
      </div>

      <br />
      <h5 id="message" class="center gray-text" *ngIf="showInformationNotFound">
        ¡No se encontró información!.
      </h5>

      <div class="d-flex justify-content-center" *ngIf="showProcessingIcon">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div *ngIf="agreementListToDisplay.length > 0" class="table-responsive">
        <table class="table table-condensed text-center">
          <thead>
            <tr>
              <th scope="col" sortable="name" (sort)="onSort($event)">
                Nombre<i class="material-icons" *ngIf="
										lastSort.column === 'name' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'name' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="description" (sort)="onSort($event)">
                Descripción<i class="material-icons" *ngIf="
										lastSort.column === 'description' &&
										lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'description' &&
										lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th scope="col" sortable="state" (sort)="onSort($event)">
                Estado<i class="material-icons" *ngIf="
										lastSort.column === 'state' && lastSort.direction === 'asc'
									" style="vertical-align: bottom;">arrow_drop_down</i>
                <i class="material-icons" *ngIf="
										lastSort.column === 'state' && lastSort.direction === 'desc'
									" style="vertical-align: bottom;">arrow_drop_up</i>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="
								let agreement of agreementListToDisplay
									| slice
										: (page - 1) * pageSize
										: (page - 1) * pageSize + pageSize;
								index as i
							">
              <td>{{ agreement.name }}</td>
              <td>{{ agreement.description }}</td>
              <td>
                <div class="status-pill-green" *ngIf="agreement.state == 'ENABLED'">
                </div>
                <div class="status-pill-red" *ngIf="agreement.state == 'DISABLED'"></div>
              </td>
              <td>
                <i class="material-icons gray-text" data-target="#newagreement" data-toggle="modal"
                  style="cursor: pointer;" (click)="onSelect(agreement)">
                  edit
                </i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center" *ngIf="agreementListToDisplay.length">
        <ngb-pagination [collectionSize]="agreementListToDisplay.length" [(page)]="page" [maxSize]="5"
          [boundaryLinks]="true">
        </ngb-pagination>
      </div>

      <div class="" style="position:fixed; bottom: 45px; right: 24px;">
        <button class="btn btn-primary btn-circle btn-circle-lg m-1" data-target="#newagreement" data-toggle="modal">
          <i class="fa fa-plus"></i>
        </button>
      </div>

      <!-- Modal new agreement -->
      <div class="modal" id="newagreement" tabindex="-1" role="dialog" aria-labelledby="newagreementTitle"
        aria-hidden="true" data-backdrop='static'>
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="newagreementTitle">
                {{ onEdit ? 'Editar Convenio' : 'Crear Convenio' }}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name">Nombre:</label>
                      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="agreement.name" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="description">Descripción:</label>
                      <input type="text" class="form-control" id="description" name="description"
                        [(ngModel)]="agreement.description" />
                    </div>
                  </div>
                </div>
                <div class="form-row" *ngIf="onEdit">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="state">Estado:</label>
                      <select class="custom-select" id="state" name="state" [(ngModel)]="agreement.state">
                        <option *ngFor="let state of states" [value]="state.id">
                          {{ state.value }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onCancel()">
                Cancelar
              </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSave()" *ngIf="!onEdit">
                Guardar
              </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onEditAgreement()"
                *ngIf="onEdit">
                Actualizar
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
