<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-10">
			<br />
			<h4 class="blue-text title  animated fadeIn fast">
				Resumen de Ventas
			</h4>
			<br />
			<div class="card">
				<div class="card-body">
					<form>
						<div class="form-row">
							<div class="form-group col-sm-2 min-width-input-field">
								<label for="inputStartDate">Fecha Inicial</label>
								<div class="input-group">
									<input type="text" class="form-control" id="inputStartDate"
										[value]="searchParameters.startDate | date: 'y-MM-dd'" ngbDatepicker
										#d="ngbDatepicker" (dateSelect)="onDateSelect($event, 'initial')" />
									<div class="input-group-append">
										<button (click)="d.toggle()" class="btn btn-primary" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
							<!-- <div class="form-group col-sm-2">
								<label for="inputStartHour">Hora Inicial</label>
								<input type="time" class="form-control" />
							</div> -->
							<div class="form-group col-sm-2 min-width-input-field">
								<label for="inputEndDate">Fecha Final</label>
								<div class="input-group">
									<input type="text" class="form-control" id="inputEndDate"
										[value]="searchParameters.endDate | date: 'y-MM-dd'" ngbDatepicker
										#d2="ngbDatepicker" (dateSelect)="onDateSelect($event, 'final')" />
									<div class="input-group-append">
										<button (click)="d2.toggle()" class="btn btn-primary" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
							<!-- <div class="form-group col-sm-2">
								<label for="inputEndHour">Hora Final</label>
								<ngb-timepicker
									name="finalTime"
									[(ngModel)]="finalTime"
									meridian="true"
									(ngModelChange)="onChangeTime('final')"
								></ngb-timepicker>
							</div> -->
							<div class="form-group col-sm-2">
								<label for="inputUser">Convenio:</label>
								<select id="inputUser" name="inputUser" class="custom-select"
									[(ngModel)]="searchParameters.user" name="inputUser">
									<option selected>Seleccione un usuario</option>
									<option *ngFor="let user of users" [value]="user.username">
										{{ user.name }}
									</option>
								</select>
							</div>
							<div class="form-group col-sm-2">
								<label for="inputCashBalance">Caja:</label>
								<div class="input-group">
									<input type="number" class="form-control" id="inputCashBalance"
										name="inputCashBalance" [(ngModel)]="cashBalance" />
								</div>
							</div>
							<div class="form-group col-sm-2">
								<label for="inputTotalExpenses">Pagos:</label>
								<div class="input-group">
									<input type="number" class="form-control" id="inputTotalExpenses"
										name="inputTotalExpenses" [(ngModel)]="expenses" />
								</div>
							</div>
							<button class="btn btn-primary in-form-row-btn" (click)="onSearch()">
								BUSCAR
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="d-flex justify-content-center" *ngIf="showProcessingIcon" style="margin-top: 4rem;">
				<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<br />
			<div class="card" *ngIf="salesSummary">
				<div class="card-body px-5">
					<div class="row">
						<div class="col-8">
							<h4>
								<span class="blue-middle-text">Resumen de</span>
								<span class="blue-middle-text" style="font-weight: bold;">
									{{ salesSummary.userName }}
								</span>
							</h4>
						</div>
						<div class="col-4">
							<a class="blue-middle-text" style="cursor: pointer;">
								<i class="material-icons pull-right" (click)="doPdf()">
									file_download
								</i>
							</a>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-sm-4 d-flex flex-column">
							<div class="d-flex justify-content-center">
								<i class="material-icons" style="color:#a1d679; font-size: 4rem;">
									access_time
								</i>
							</div>
							<div class="d-flex justify-content-center">
								<h4 style="color:#a1d679">
									Horario
								</h4>
							</div>
							<div class="d-flex justify-content-center">
								<p>
									Desde
									<span
										style="color: #a1d679; font-weight: bold; font-size: 1.2em;">{{ salesSummary.startTime.slice(0, 8) }}</span>
									hasta
									<span
										style="color: #a1d679; font-weight: bold;  font-size: 1.2em;">{{ salesSummary.endTime.slice(0, 8) }}</span>.
								</p>
							</div>
						</div>
						<div class="col-sm-4 d-flex flex-column">
							<div class="d-flex justify-content-center">
								<i class="material-icons" style="color:#1590b3; font-size: 4rem;">
									receipt
								</i>
							</div>
							<div class="d-flex justify-content-center">
								<h4 style="color:#1590b3">
									Facturas
								</h4>
							</div>
							<div class="d-flex justify-content-center">
								<p class="text-center">
									Desde el consecutivo
									<span
										style="color: #1590b3; font-weight: bold; font-size: 1.2em">{{ salesSummary.invoiceRangeFrom }}</span>
									hasta el
									<span
										style="color: #1590b3; font-weight: bold; font-size: 1.2em">{{ salesSummary.invoiceRangeTo }}</span>.
									Notas Crédito desde
									<span
										style="color: #1590b3; font-weight: bold; font-size: 1.2em">{{ salesSummary.creditNoteRangeFrom }}</span>
									hasta
									<span
										style="color: #1590b3; font-weight: bold; font-size: 1.2em">{{ salesSummary.creditNoteRangeTo }}</span>.
								</p>
							</div>
						</div>
						<div class="col-sm-4 d-flex flex-column">
							<div class="d-flex justify-content-center">
								<i class="material-icons" style="color:#f5ca47; font-size: 4rem;">
									attach_money
								</i>
							</div>
							<div class="d-flex justify-content-center">
								<h4 style="color:#f5ca47">
									Total Recaudado
								</h4>
							</div>
							<div class="d-flex justify-content-center">
								<p>
									Se registra
									<span
										style="color: #f5ca47; font-weight: bold; font-size: 1.2em">{{ salesSummary.total | currency: 'COP':'$' }}</span>.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer blue-middle"></div>
			</div>
		</div>
	</div>
</div>
