/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    color: #696969 !important;
}

.min-width-input-field {
    min-width: 150px;
}

.blue {
    background-color: #2f90c5 !important;
}

.teal-light-text {
    color: #4db6ac;
}

.gray {
    color: gray !important;
}

.blue {
    background-color: #2f90c5 !important;
}

.blue-text {
    color: #2f90c5 !important;
}

.gray-text {
    color: #696969 !important;
}

.blue-middle-text {
    color: #49c5b6 !important;
}

.blue-middle {
    background-color: #49c5b6 !important;
}

.blue-middle-light {
    background-color: #56e4d3 !important;
}

.title {
    font-weight: bold;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50% !important;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
}

.status-pill-red {
    width: 12px;
    height: 12px;
    border-radius: 30px;
    background-color: #e65252;
    display: inline-block;
    vertical-align: middle;
}

.status-pill-green {
    width: 12px;
    height: 12px;
    border-radius: 30px;
    background-color: #5eb314;
    display: inline-block;
    vertical-align: middle;
}

.in-form-row-btn {
    height: 50%;
    position: relative;
    top: 31px;
    margin-bottom: 31px;
}

th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100% !important;
    }

    #content.active {
        width: calc(100% - 300px);
    }

    #sidebarCollapse span {
        display: none;
    }
}