<div class="container-fluid">
	<div class="row justify-content-md-center">
		<div class="col-md-10">
			<br />
			<h4 class="blue-text title  animated fadeIn fast">
				Duplicado de Tiquete
			</h4>
			<br />
			<div class="card">
				<div class="card-body">
					<form class="form-inline" action="/action_page.php">
						<label for="vehiclePlateInput" class="mb-2 mr-sm-2"
							>Matrícula:</label
						>
						<input
							type="text"
							class="form-control mb-2 mr-sm-2"
							id="vehiclePlateInput"
							placeholder="AAA123"
							name="vehiclePlateInput"
							[(ngModel)]="vehiclePlate"
						/>
						<button
							class="btn btn-primary mb-2"
							*ngIf="vehiclePlate !== ''"
							(click)="searchTicket()"
						>
							BUSCAR
						</button>
					</form>
				</div>
			</div>
			<div class="d-flex justify-content-center" *ngIf="showLoading">
				<div
					class="spinner-border text-primary"
					style="width: 3rem; height: 3rem;"
					role="status"
				>
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>
	</div>
</div>
