<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-10">
			<br />
			<h4 class="blue-text title  animated fadeIn fast">Registro</h4>
			<br />
			<div class="card">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs nav-fill">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#entrance"
								>ENTRADA</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#exit">SALIDA</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<div class="tab-content" id="myTabContent">
						<div
							class="tab-pane fade show active"
							id="entrance"
							role="tabpanel"
							aria-labelledby="entrance-tab"
						>
							<div
								id="entranceOperationCarousel"
								class="carousel slide"
								data-interval="false"
								data-ride="carousel"
							>
								<!-- Indicators -->
								<ul class="carousel-indicators">
									<li
										data-target="#entranceOperationCarousel"
										[attr.data-slide-to]="i"
										class="{{ vehicleImage.class }}"
										(click)="setVehicle(i)"
										*ngFor="let vehicleImage of vehicleImages; let i = index"
									></li>
								</ul>

								<!-- The slideshow -->
								<div class="carousel-inner">
									<div
										class="carousel-item {{ vehicleImage.class }}"
										*ngFor="let vehicleImage of vehicleImages"
										style="padding-bottom: 20px"
									>
										<img
											class="mx-auto d-block"
											width="250"
											src="{{ vehicleImage.path }}"
											alt="{{ vehicleImage.caption }}"
											data-toggle="tooltip"
											data-placement="top"
											title="{{ vehicleImage.caption }}"
										/>
									</div>
								</div>

								<!-- Left and right controls -->
								<a
									class="carousel-control-prev"
									href="#entranceOperationCarousel"
									data-slide="prev"
									(click)="onChangeSlide('prev')"
								>
									<span class="carousel-control-prev-icon"></span>
								</a>
								<a
									class="carousel-control-next"
									href="#entranceOperationCarousel"
									data-slide="next"
									(click)="onChangeSlide('next')"
								>
									<span class="carousel-control-next-icon"></span>
								</a>
							</div>

							<div class="row justify-content-center">
								<div class="input-group input-group-lg col-4">
									<input
										type="text"
										style="text-align: center"
										class="form-control"
										placeholder="AAA123"
										[(ngModel)]="entranceOperation.vehiclePlate"
									/>
								</div>
							</div>

							<div class="row justify-content-center" style="margin-top: 5px">
								<h5 class="blue-text">Matrícula</h5>
							</div>

							<div class="row justify-content-center" style="margin-top: 5px">
								<div class="col-4">
									<button
										class="btn btn-primary btn-block"
										(click)="saveEntranceOperation()"
										type="button"
										*ngIf="entranceOperation.vehiclePlate !== ''"
									>
										GUARDAR
									</button>
								</div>
							</div>
						</div>
						<div
							class="tab-pane fade"
							id="exit"
							role="tabpanel"
							aria-labelledby="exit-tab"
						>
							<div
								id="exitOperationCarousel"
								class="carousel slide"
								data-interval="false"
								data-ride="carousel"
							>
								<!-- Indicators -->
								<ul class="carousel-indicators">
									<li
										data-target="#exitOperationCarousel"
										[attr.data-slide-to]="i"
										(click)="setExitType(i)"
										class="{{ exitImage.class }}"
										*ngFor="let exitImage of exitImages; let i = index"
									></li>
								</ul>

								<!-- The slideshow -->
								<div class="carousel-inner">
									<div
										class="carousel-item {{ exitImage.class }}"
										*ngFor="let exitImage of exitImages"
									>
										<img
											class="mx-auto d-block"
											width="250"
											src="{{ exitImage.path }}"
											alt="{{ exitImage.caption }}"
											style="padding-bottom: 20px"
										/>
									</div>
								</div>

								<!-- Left and right controls -->
								<a
									class="carousel-control-prev"
									href="#exitOperationCarousel"
									data-slide="prev"
								>
									<span class="carousel-control-prev-icon"></span>
								</a>
								<a
									class="carousel-control-next"
									href="#exitOperationCarousel"
									data-slide="next"
								>
									<span class="carousel-control-next-icon"></span>
								</a>
							</div>

							<div *ngIf="exitType === 'Matricula'">
								<div class="row justify-content-center">
									<div class="input-group input-group-lg col-4">
										<input
											type="text"
											style="text-align: center"
											class="form-control"
											placeholder="AAA123"
											[(ngModel)]="exitOperation.vehiclePlate"
										/>
									</div>
								</div>

								<div class="row justify-content-center" style="margin-top: 5px">
									<h5 class="blue-text">Matrícula</h5>
								</div>
							</div>

							<div *ngIf="exitType === 'Código QR'">
								<div class="row justify-content-center">
									<div class="input-group input-group-lg col-4">
										<input
											type="text"
											style="text-align: center"
											class="form-control"
											placeholder=""
											[(ngModel)]="operationCode"
										/>
									</div>
								</div>

								<div class="row justify-content-center" style="margin-top: 5px">
									<h5 class="blue-text">Código QR</h5>
								</div>
							</div>

							<div class="row justify-content-center" style="margin-top: 5px">
								<div class="col-4">
									<button
										class="btn btn-primary btn-block"
										(click)="saveExitOperation()"
										type="button"
										*ngIf="
											(exitType === 'Código QR' && operationCode !== '') ||
											(exitType === 'Matricula' &&
												exitOperation.vehiclePlate !== '')
										"
									>
										GUARDAR
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
